<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-technicals"><span class="fa fa-pencil fa-4x" id="icon-module-customer"></span>Modificar datos</button>
	<ol class="breadcumb">
			<li><a href="index.php">Home</a></li><li><a href="#">Contraseña</a></li>
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p">
			<input type="submit" class="save save-reg" name="" id="" form="new-admin-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
	<!--	<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id="" form="new-customer-form" value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>-->
<!--
	<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>





<section class="add">
<form class="new-cat formu" id="new-admin-form" method="POST" onsubmit="return updateAdmin();">
		<section class="form-panel"> <legend>datos de la cuenta</legend><div class="form-panel-body">
<div class="complete">			
	<label class="label-form" for="user_name">Contraseña actual</label>			
	<input  type="password" name="password_actual" id="actualPass" placeholder="Contraseña actual">
</div>

<div class="complete">			
	<label class="label-form" for="user_name">Nombre</label>			
	<input  type="text" name="user_name" id="user_name" placeholder="Nombre">
</div>
<div class="medium">		
	<label class="label-form" for="user_rut">RUT</label>				
	<input  type="text" name="user_rut" id="user_rut" placeholder="RUT">
</div>
<div class="medium">				
	<label class="label-form" for="user_email">Email</label>		
	<input  type="email" name="user_email" id="user_email" placeholder="Email">
</div>
<div class="complete"></div></div></section>
</form></section>