

<div class="module-name">
		<div>
			<button class="module-customer-name icon-list name-module" id="module-customer"><span class="fa fa-building fa-5x" id="icon-module-customer"></span>SUCURSALES</button>
		<ol class="breadcumb">
				
			</ol></div>
			<div>
			
			<div class="save-div save-reg-p hidden">
				<input type="submit" class="save save-reg" name="" id="" form="new-branch_office-form" value="Guardar">
				<span class="fa fa-save fa-5x icon-save " class=""></span>
			</div>
		
			<div class="save-div new-customer-trigger-p">
				<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
				<span class="fa fa-plus fa-5x icon-save " class=""></span>
			</div>
		
	<div class="save-div print-p printSection ">
		<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
		<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
	</div>
	<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">Codigo</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Centro de costo</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">N de local</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="4">Gerente de tienda</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="5">Email</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="6">Región</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="7">Fono</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="8">Jefe de PP</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="9">Email</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="10">Fono</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>

	<!--<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>Nombre</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>R.U.T</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>
<section class="fooTable">
		<div class="tableWrapper">
				<section class="tablePanel">
					
								  <legend>SUCURSALES REGISTRADAS</legend>
								  <div class="tableWrapperBody"> 
<table class="dataTable main-table hidden display cell-border" id="branchOffice-content-table">
  <thead class="main-thead-table" id="branchOffice-content-table-thead" >
		<tr >
				<th style="opacity:0;">CODIGO</th>
				<th style="opacity:0;">CENTRO</th>
				   <th style="opacity:0;">NºLOCAL</th>
				   <th colspan="3" class="upoTr2 tab">GERENTE</th>
				
				   <th colspan="3" class="upoTr2 tab">JEFE DE PREVENCIÓN DE PÉRDIDAS</th>
				<th style="opacity:0;" class="no-print">Acciones</th>
			</tr>
	<tr >
		<th>CODIGO</th>
		<th>CENTRO</th>
		   <th>NºLOCAL</th>
		   <th class="upoTr2 tab">NOMBRE</th>
		<th class="upoTr2">EMAIL</th>
		<th class="upoTr2">FONO</th>
		<th class="upoTr tab2">NOMBRE</th>
		<th class="upoTr">EMAIL </th>
		<th class="upoTr">FONO </th>
		<th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody class="main-tbody-table" id="branchOffice-content-table-tbody">

    </tbody>
    </table></div></section>
    </section>

<section class="add hidden">
<form class="new-reg formu" id="new-branch_office-form" method="POST" onsubmit="return insertBranchOffice();">
	<!--<label for="type">Tipo de cliente</label>
		<select class="select-form" id="select-type-customer">
			<option id="1">Empresarial</option>
			<option id="2">Personal</option>
			
		</select>-->
		<section class="form-panel">
				
							  <legend>INFORMACIÓN DEL CLIENTE A REFERENCIAR</legend>
							  <div class="form-panel-body">   
	<div class="medium">
		<label class="label-form" for="email">Buscar Nombre de Cliente</label>									
		<input  type="text" name="format_name_search" id="format_name_search" autocomplete="off" placeholder="Buscar Nombre de Cliente" oninput="searchFormatName();" list="format_name_list">
						<datalist autocomplete="off" id="format_name_list">
							<option></option>
						</datalist>
	</div>
	<div class="medium">
		<label class="label-form" for="email">RUT</label>									
		<input type="text" name="format_rut" id="format_rut_new" placeholder="RUT" disabled="disabled">
	</div>
	<input type="hidden"  name="format_id" id="format_id_new">
	<input type="hidden" name="branch_office_id" id="branch_office_id">
	</div></section>
	<section class="form-panel">
			
						  <legend>INFORMACIÓN DE LA SUCURSAL</legend>
						  <div class="form-panel-body"> 
	<div class="medium">
		<label class="label-form" for="email">Centro de costo</label>									
		<input required class="" type="text" name="branch_office_cost_center" id="branch_office_cost_center" placeholder="Centro de costo">
	</div>	

	<div class="medium">
		<label class="label-form" for="email">Nº Local</label>									
		<input required type="text" class="numberonly" name="branch_office_nro" id="branch_office_nro" placeholder="N° Local">
	</div>
<div class="medium">
		<label class="label-form" for="email">Referencia</label>									
		<input required type="text" name="branch_office_code" id="branch_office_code" placeholder="Referencia">
	</div></div></section>
	<section class="form-panel">
			
						  <legend>INFORMACIÓN DEL GERENTE</legend>
						  <div class="form-panel-body"> 
	<div class="medium">
	
			<label class="label-form" for="manager">Nombre</label>
			<input required="" type="text" class="alphaonly" class="alphaonly" name="branch_office_gerent_name" id="branch_office_gerent_name" placeholder="Nombre">
	</div>
	<div class="medium">
		<label class="label-form" for="email">Email</label>									
		<input required type="email" name="branch_office_gerent_email" id="branch_office_gerent_email" placeholder="Email">
	</div>
<div class="medium">

	<div class="half">
		<label class="label-form" for="branch_office_gerent_phone">Fono</label>									
		<input required type="text" class="" name="branch_office_gerent_phone" id="branch_office_gerent_phone" placeholder="Fono">
	</div>
</div>
			
	

	
	
	</div></section>
	<section class="form-panel">
			
						  <legend>INFORMACIÓN DEL JEFE DE PREVENCION DE PÉRDIDAS</legend>
						  <div class="form-panel-body"> 
	<div class="medium">
		
			<label class="label-form" for="manager">Nombre</label>
			<input required="" type="text" class="alphaonly" name="branch_office_boss_name" id="branch_office_boss_name" placeholder="Nombre">
	</div>

	<div class="medium">
		<label class="label-form" for="email">Email</label>									
		<input required type="email" name="branch_office_boss_email" id="branch_office_boss_email" placeholder="Email">
	</div>
	
	<div class="medium">
		<label class="label-form" for="email">Fono</label>									
		<input required type="text" name="branch_office_boss_phone" id="branch_office_boss_phone" placeholder="Fono">
	</div>


	</div>
	
	</div></section>
</form></section>


<script type="text/javascript"></script>