<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-products"><span class="fa fa-tag fa-4x" id="icon-module-customer"></span>Empresas</button>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save save-reg" name="" id="" form="new-company-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
	<!--	<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	-->
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id="" value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
	<!--<button class="new-customer-trigger new-data icon-list" id="new-customer"><span class="new-customer-trigger fa fa-plus fa-5x" id="icon-body-add-customer"></span>
	</button>
		<div class="print-button printSection"><button class="print printSection"><span class=" printSection fa fa-print fa-5x"></span></button></div>
	<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">Empresa</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Descripción</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">Costo</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>-->
	<!--

	<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>

<section class="fooTable">
		<div class="tableWrapper">
				<section class="tablePanel">
					
								  <legend>EMPRESAS REGISTRADAS</legend>
								  <div class="tableWrapperBody"> 
<table class="dataTable main-table hidden display cell-border" id="company-content-table">
  <thead class="main-thead-table" id="company-content-table-thead">
    <tr>
      <th>Nombre</th>
      <th>RUT</th>
	  <th>Fono</th>
      <th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody class="main-tbody-table" id="company-content-table-tbody">
    </tbody>
    </table></div></section></div>
    </section>



<section class="add hidden">
<form class="new-cat formu" id="new-company-form" method="POST" onsubmit="return insertCompany();">
		<section class="form-panel">
				
							  <legend>INFORMACIÓN DE LA EMPRESA</legend>
							  <div class="form-panel-body"> 
<input type="hidden" id="business_id" name="business_id">


	<!--<label class="label-form customer-name" for="product_description">Nombre</label>
	<div class="complete"><input type="text" placeholder="Nombre" id="business_name" class="" name="business_name"></input></div>-->

	<div class="medium">
		<label class="label-form" for="product_cost">RUT</label>					
		<input required type="text" name="business_rut" id="business_rut" placeholder="RUT">
	</div>

	<div class="medium">
		<label class="label-form" for="product_cost">Fono</label>					
		<input required type="text" name="business_phone" id="business_phone" placeholder="Fono">
	</div>

	<div class="complete">
		<label class="label-form" for="product_cost">Dirección</label>					
		<input required type="text" name="business_direction" id="business_direction" placeholder="Dirección">
	</div>
	<div class="complete">
		<label class="label-form" for="product_cost">Sitio web</label>					
		<input required type="text" name="business_website" id="business_website" placeholder="Sitio web">
	</div>
	<div class="complete">
		<label class="label-form" for="product_cost">Descripción</label>					
		<input required type="text" name="business_description" id="business_description" placeholder="Descripción">
	</div>
	<div class="complete">
			<label class="label-form" for="product_cost">Logo</label><br>
			<div id="company-logo-cont">
				<img id='company-logo-prv' src=''>
				<div id='company-upload-cont'>
					<input type="file" name="images[]"  class="imgInput2" accept="image/x-png,image/gif,image/jpeg"><p class="newImg">+</p></div>
			</div>
		</div>

</div></section>
</form></section>