<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-diagnostic"><span class="fa fa-tag fa-4x" id="icon-module-customer"></span>Diagnostico</button>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save save-reg" name="" id="" form="new-diag-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id="" value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
<!--
	<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>

<section class="fooTable">
		<div class="tableWrapper">
				
<section class="tablePanel">
					
								  
<legend>DIAGNOSTICOS REGISTRADOS</legend>						  
<div class="tableWrapperBody"> 
<table class=" dataTable main-table hidden display cell-border" id="diagnostic-content-table">
  <thead class="main-thead-table" id="diagnostic-content-table-thead">
    <tr>
      <th>Nombre</th>
      <th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody class="main-tbody-table" id="diagnostic-content-table-tbody">
    </tbody>
	</table>
	
</div>
</section>
</div>
    </section>



<section class="add hidden">
<form class="new-cat formu" id="new-diag-form" method="POST" onsubmit="return insertDiagnostic();">

	<section class="form-panel">

			  <legend>INFORMACIÓN DEL DIAGNOSTICO</legend>
			  <div class="form-panel-body"> 
<input type="hidden" id="diagnostic_id" name="diagnostic_id">
<div class="complete">					
	<label class="label-form " for="diagnostic_name">Nombre</label>	
	<input required type="text" name="diagnostic_name" id="diagnostic_name" placeholder="Nombre">
</div>

</div></section>
</form></section>