

		<div class="module-name">
				<div>
					<button class="module-customer-name icon-list name-module" id="module-customer"><span class="fa fa-user fa-5x" id="icon-module-customer"></span>CLIENTES</button>
					<ol class="breadcumb">
						
					</ol>
				</div>
					<div>
					
					<div class="save-div save-reg-p hidden">
						<input type="submit" class="save save-reg" name="" id="" form="new-customer-form" value="Guardar">
						<span class="fa fa-save fa-5x icon-save " class=""></span>
					</div>
				
					<div class="save-div new-customer-trigger-p">
						<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
						<span class="fa fa-plus fa-5x icon-save " class=""></span>
					</div>
				
					<div class="save-div print-p printSection ">
						<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
						<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
					</div>
				
					
					<ul class="printOptions printSection">
						<p class="adhb printSection">Desactivar Columnas</p>
						<li class="printSection"><a class="hideColumn printSection" id="1">Nombre</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="2">Razon Social</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="3">R.U.T</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="4">Dirección</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="5">Comuna</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="6">Región</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="7">Fono</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="8">Gerente</a></li>
						<li class="printSection"><a class="hideColumn printSection" id="9">Email Gerente</a></li>
						<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
					</ul>
				
				<!--	<li class="filter-customer-button-li  filter-customer-trigger" >
						<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
						<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
						<ul id="show-filter">
							<li class="icona">
								<span class="fa fa-check fa-5x filter-icon"></span><a>Nombre</a>
							</li>
							<li class="icona">
								<span class="fa fa-check fa-5x filter-icon"></span><a>R.U.T</a>
							</li>
							<li class="icona">
								<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
							</li>
							<li class="icona">
								<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
							</li>
						</ul>
					</li>-->
				</div>
				
				
				</div>
<section class="fooTable">

		<div class="tableWrapper">
				<section class="tablePanel">
					
								  <legend>CLIENTES REGISTRADOS</legend>
								  <div class="tableWrapperBody"> 

<table class="dataTable main-table hidden display cell-border" id="client-content-table" width="100%">
  <thead class="main-thead-table" id="client-content-table-thead" >
    <tr>
      <th>Nombre               	</th>
      <th>Razon Social               	</th>
      <th>R.U.T			</th>
      <th>Dirección				</th>
      <th>Comuna		</th>
      <th>Region		</th>
      <th>Fono				</th>
      <th>Gerente		</th>
      
      <th>Email Gerente		</th>
      
       <th class="no-print">Acciones</th><!--'Ordenes'		<button class="tableDropdown dropdowns">Ordenes</button><ul class="dropdownButtonList"><li><a href="#0">Ver</a></li><li><a href="#0">Nueva</a></li></ul>-->
    </tr>
  </thead>
  <tbody class="main-tbody-table" id="client-content-table-tbody">

    </tbody>
    </table></form></section></div>
    </section>

<section class="add hidden">
	
		<form class="new-reg formu" id="new-customer-form" method="POST" onsubmit="return insertBusiness();">
			  <!--<label for="type">Tipo de cliente</label>
					<select class="select-form" id="select-type-customer">
						  <option id="1">Empresarial</option>
						  <option id="2">Personal</option>
						  
					</select>-->
								  <section class="form-panel">

			  <legend>Información del Cliente</legend>
			  <div class="form-panel-body">                                                                                                               
																																				  <input type="hidden" name="format_id" id="format_id">
		
		<div class="medium">
					<label class="label-form " for="format_name">Nombre</label>					
					<input required type="text" name="format_name" class="" id="format_name" placeholder="Nombre">
			  </div>
			  <div class="medium">
					<label class="label-form " for="format_business_name">Razon social</label>					
					<input required type="text" name="format_business_name" class="" id="format_business_name" placeholder="Razon Social">
			  </div>
			  <div class="medium">
					<div class="half">
						  <label class="label-form" for="rtu">R.U.T</label>									
						  <input required type="text" name="format_rut" id="format_rut" placeholder="R.U.T">
					</div>
					<div class="half">
						  <label class="label-form" for="direction">Dirección</label>			
						  <input required type="text" name="format_direction" id="format_direction" placeholder="Dirección">
					</div>
			  </div>
			  <div class="medium">
					
					<div class="half">
						  <label class="label-form" for="commune">Comuna</label>								
						  <input required type="text" name="format_comuna" id="format_comuna" placeholder="Comuna">
					</div>
					<div class="half">
						  <label class="label-form" for="format_region">Region</label>								
						  <input required type="text" name="format_region" id="format_region" placeholder="Region">
					</div>
			  </div>
			  <div class="medium">
					<label class="label-form" for="phone">Fono</label>									
					<input required type="text" name="format_phone" id="format_phone" placeholder="Fono">
			  </div>
					
</div>
			  </section>
			  
			  <section class="form-panel">
						  <legend>Información del Gerente</legend>
						  <div class="form-panel-body">   
						  <div class="complete">
					<div class="medium">
						  <label class="label-form" for="manager">Gerente</label>
						  <input required="" type="text" name="format_gerent" id="format_gerent" placeholder="Gerente">
					</div>
					<div class="medium">
					<label class="label-form" for="email">Email del Gerente</label>									
					<input required type="email" name="format_gerent_email" id="format_gerent_email" placeholder="Email del Gerente">
</div>
				</div>
			  </div>
			  
		
		</section></form>
		
		</section>

<script type="text/javascript"></script>