<br><br><section class="mainTable">
    
<table class="lastest2 tablesorter" id="main-content-table">
    <thead id="main-content-table-thead">
        <tr>
              <th colspan="3">Registros asociados</th>
              
        </tr>
      </thead>
      <tbody id="main-content-table-tbody">
       </tbody>
</table><br>

</section>

