<br><br><section class="mainTable">
            <div class="tableWrapper">
				<section class="tablePanel" style="
                        margin: 0 auto;">
					
								  <legend>ÚLTIMAS VERIFICACIONES</legend>
								  <div class="tableWrapperBody"> 
    
<table class="lastest tablesorter" id="main-content-table">
    <thead id="main-content-table-thead">
        <tr>
              <th class="collapseCa">FECHA</th>
              <th class="collapseCa">EMPRESA</th>
              <th class="collapseCa">RUT</th>
              <th class="collapseCa">SOLICITUD</th>
              <th class="collapseCa">STATUS</th>
        </tr>
      </thead>
      <tbody id="main-content-table-tbody">
      
      </tbody>
</table></div><!--<h1 id="showMoreRow"><a  id="showMoreRoww" href="#">VER MAS ></a></h1>--><br></section></div>

</div><br>



</section>

