<section class="mainTable">
	<h1 id="lastest-label">ÚLTIMOS CAMBIOS</h1>


	<table class="lastest tablesorter" id="main-content-table">
		<thead id="main-content-table-thead">
			<tr>
	      		<th>Tipo</th>
	      		<th class="collapseC">Fecha</th>
	      		<th class="collapseC">Responsable</th>
	      		<th>Clase</th>
	      		<th>Código</th>
	    	</tr>
	  	</thead>
	  	<tbody id="main-content-table-tbody">
	    	<tr >
	      		<td>Edición</td>
	      		<td class="collapseC">15/02/2017</td>
	      		<td class="collapseC">Esmeralda A.</td>
	      		<td>Cliente</td>
	      		<td>AV103</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>erden</td>
	      		<td>000023</td>
	    	</tr>
	    	<tr >
	      		<td>Registro</td>
	      		<td class="collapseC">16/03/2017</td>
	      		<td class="collapseC">Jose F.</td>
	      		<td>Orden</td>
	      		<td>000023</td>
	    	</tr>
	   	</tbody>
	</table>
	


</section>