<div class="module-name">
	<div>
		<button class="module-customer-name icon-list name-module" id="module-category"></span>Cambiar contraseña</button>
		<ol class="breadcumb"><li><a href="index.php">Home</a></li><li class="Request optionsDir"><a class="load-content" href="#">
				Contraseña
			</a></li></ol>
	</div>
		<div>
		
		<div class="save-div save-reg-p">
			<input type="submit" class="save save-reg" name="" id="" form="pass-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
	<!--	<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id="" form="new-customer-form" value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
		<div class="print-button printSection"><button class="print printSection"><span class=" printSection fa fa-print fa-5x"></span></button></div>
	<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">Nombre</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Email</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">R.U.T</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="4">Empresa</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="5">Estado</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>-->

	<!--<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>

<section class="add">

<form class="new-user formu" id="pass-form" method="POST" onsubmit="return changePassword();">
		<section class="form-panel"> <legend>CAMBIO DE CONTRASEÑA</legend><div class="form-panel-body">
		
	<div class="complete">
		<label class="label-form" for="user_rut">Contraseña actual</label>					
		<input required type="password" name="password_0" id="password-0" minlength="0" placeholder="Contraseña actual" maxlength="">
	</div>
	<div class="complete">
		<label class="label-form" for="user_rut">Nueva contraseña</label>					
		<input required type="password" name="password_1" id="password-1" minlength="6" placeholder="Nueva contraseña" maxlength="">
	</div>
	<div class="complete">
		<label class="label-form" for="user_rut">Confirme nueva contraseña</label>					
		<input required type="password" name="password_2" id="password-2" minlength="6" placeholder="Confirme nueva contraseña" maxlength="">
	</div>
		

	<div class="complete">
		</div></section>
	</form></section>