<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-products"><span class="fa fa-tag fa-4x" id="icon-module-customer"></span>Productos</button>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save save-reg" name="" id="" form="new-product-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
	<!--

	<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>

<section class="fooTable">
		<div class="tableWrapper">
				
<section class="tablePanel">
					
								  
<legend>PRODUCTOS REGISTRADOS</legend>						  
<div class="tableWrapperBody"> 

<table class=" dataTable main-table hidden display cell-border" id="product-content-table">
  <thead class="main-thead-table" id="product-content-table-thead">
    <tr>
      <th>Empresa</th>
      <th>Descripcion</th>
      <th>Costo</th>
      <th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody class="main-tbody-table" id="product-content-table-tbody">
    </tbody>
	</table>
</div>
</section>
</div>


    </section>



<section class="add hidden">
<form class="new-cat formu" id="new-product-form" method="POST" onsubmit="return insertProduct();">
		<section class="form-panel">
				
							  <legend>INFORMACIÓN DEL PRODUCTO</legend>
							  <div class="form-panel-body"> 
<input type="hidden" id="product_id" name="product_id">

	

	<label class="label-form customer-name" for="product_description">Descripcion</label>
	<div class="complete"><input type="text" placeholder="Descripcion" id="product_description" class="" name="product_description"></input></div>


<div class="medium">
<!--	<label class="label-form" for="product_business">Empresa</label>					
	<input required type="text" name="product_business" id="product_business" placeholder="Nombre">-->
	<label class="label-form customer-name" for="product_business">Empresa</label>
	<select required type="text" name="product_business" id="product_business">
		<option value="1">TECNOSEC</option>
		<option value="2">INFRAGANTI</option>
		<option value="3">GLOBAL BUSINESS</option>
	</select>
</div>
	

<div class="medium">
	<label class="label-form" for="product_cost">Precio</label>					
	<input required type="number" name="product_cost" id="product_cost" placeholder="Precio">
</div>
</div></section>
</form></section>