<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-category"><span class="fa fa-tag fa-4x" id="icon-module-customer"></span>Proyectos</button>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save save-reg" name="" id="" form="new-proyect-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
		<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">Codigo</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Descripcion</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">Jefe</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="4">Fecha</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>
<!--
	<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	

</div></div>

<section class="fooTable">
		<div class="tableWrapper">
				
<section class="tablePanel">
					
								  
<legend>PROYECTOS REGISTRADOS</legend>						  
<div class="tableWrapperBody"> 

<table class="dataTable main-table hidden display cell-border" id="proyect-content-table">
  <thead class="main-thead-table" id="proyect-content-table-thead">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Jefe</th>
      <th>Fecha</th>
      <th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody class="main-tbody-table" id="proyect-content-table-tbody">

  
    </tbody>
	</table>
</div>
</section>
</div>
    </section>



<section class="add hidden">
<form class="new-cat formu" id="new-proyect-form" method="POST" onsubmit="return insertProyect();">
<input type="hidden" id="proyect_id" name="proyect_id">
<section class="form-panel">
		
					  <legend>INFORMACIÓN DEL PROYECTO</legend>
					  <div class="form-panel-body"> 
<div class="medium">
	<label class="label-form" for="proyect_name">Nombre</label>					

	<input required type="text" name="proyect_name" id="proyect_name" placeholder="Nombre">

</div>
<div class="medium">	
<label class="label-form" for="proyect_description">Descripción técnica</label>					
<input required type="text" name="proyect_description" id="proyect_description" placeholder="Descripción técnica">
</div>
	
	<label class="label-form customer-name" for="boss">Jefe</label>
	<div class="complete"><input type="text" placeholder="Jefe" id="proyect_boss" class="" name="proyect_boss"></input></div>
<div class="medium">
	<label class="label-form" for="proyect_date">Fecha</label>					
	<input required type="date" name="proyect_date" id="proyect_date" placeholder="Fecha">
</div>
<div class="medium">
	<label class="label-form" for="proyect_code">Codigo</label>					
	<input required type="text" name="proyect_code" id="proyect_code" placeholder="Codigo">
</div>
</div></section>
</form></section>