

<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-customer"><span class="fa fa-money fa-5x" id="icon-module-customer"></span>RECIBOS</button><div class="print-button printSection"><button class="print receipt printSection"><span class=" printSection fa fa-print fa-5x"></span></button></div>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
	
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print receipt printSection" name="" id="" value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>


</div></div>














<section class="add">
<form class="new-reg formu" id="new-customer-form" method="POST" onsubmit="return false;">
	<!--<label for="type">Tipo de cliente</label>
		<select class="select-form" id="select-type-customer">
			<option id="1">Empresarial</option>
			<option id="2">Personal</option>
			
		</select>-->
                          
		<section class="form-panel">
				
							  <legend>INFORMACIÓN DEL RECIBO</legend>
							  <div class="form-panel-body"> 
																							
																							<input type="hidden" name="format_id" id="format_id">

<div class="medium">
	<label class="label-form " for="">Empresa que emite el recibo</label>		
		<select id="receiptBus">
			<option value="0">TECNOSEC</option>
			<option value="1">INFRAGANTI</option>
			<option value="2">GLOBAL BUSINESS</option>
		</select>
	</div>
	<div class="medium">
		<label class="label-form " for="">Servicio a cancelar</label>					
		<input required type="text" name="" class="" id="receiptService" placeholder="Servicio">
	</div>
	<div class="medium"><div class="half">
			<label class="label-form" for="">A nombre de</label>									
			<input required type="text" name="" id="receiptName" name="request_r_name" placeholder="Nombre"></div>
			<div class="half">
					<label class="label-form" for="format_region">Detalles del pago</label>								
					<select id="payment_method">
					<option id="0">EFECTIVO</option>
					<option id="1">DEBITO</option>
					<option id="2">CREDITO</option>
					<option id="2">TRANSFERENCIA</option>
					<option id="2">CHEQUE DE BANCO</option>
				</select>
				</div>
			
		</div>
	<div class="medium">
			
					
				<label class="label-form" for="direction">Monto(numeros)</label>			
				<input required type="number" name="" id="receiptMoney" placeholder="Monto(numeros)">
			
		
		
			
	</div>
	
		
	<div class="complete">
			<label class="label-form" for="">Monto(letras)</label>								
			<input required type="text" name="" id="receiptBy" placeholder="Monto(letras)">
		</div>
	
	
	<div class="complete">
		<label class="label-form" for="format_region">Observaciones</label>	
		<textarea id="receiptObs"></textarea>
	</div>
<div class="medium f-right">

	<div class="half f-right">
		
	</div></div></div></section>
</form></section>
<!--<button  class="save-data receipt " name="save-customer" class="" value="">Imprimir</button>-->
<section class="add receiptContainer hidden">
<div class="receiptHeader">
	<img id="newReceiptImg" height="70px" width="" >
	<div id="busInfo">
		
	</div>
	
</div>
<div id="receiptBody">
<div id="receiptDate"><p>Fecha: </p>
	<p id="receiptDateInput" class="" name="">asdasd</p></div>
<div id="receiptTitle"><p>Recibo</p></div>
<div id="receiptServiceCont">
	<p>Servicio:&nbsp</p>
	<p id="receiptServiceInput" class="receiptInputs" name="">asdasd</p>
</div>
<div id="receiptDetails">
	<p id="busDetails"></p>
	<p id="receiptServiceInputName" class="borderBo" name="">asdasd</p>

		<p>por la suma de,</p>
	<p id="receiptServiceInputMoney" class="borderBo">asdasd</p>
	<p>netos por</p>
	<p id="receiptServiceInputBy" class="borderBo">asdasd34343asd</p>
	<p>.</p>
</div>

<div id="receiptPaymentCont">
	<p>Detalle de pago:&nbsp </p>
	<p id="receiptPaymentInput" class="receiptInputs" name="">asdasd</p>
</div>

<div id="receiptObsCont">
	<p>Observaciones: </p>
	<p id="receiptObsInput" class="receiptInputs" name="">aasdasdsdasd</p>
</div>

</div>

</section>





<script type="text/javascript"></script>