 

<div class="module-name">
	<div>
	<button class="module-customer-name icon-list name-module" id="module-customer"><span class="fa fa-file-text fa-5x" id="icon-module-customer"></span>REQUERIMIENTOS</button>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save save-reg" name="" id="" form="new-req-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
	<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">REF</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Fecha</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">Departamento</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="4">Medio</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="5">Nombre</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="6">Fono</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="7">Email</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="8">Status</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="9">Solicitud</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>
<!--
	<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona" id="icona-request-pending">
				<span class="fa fa-check fa-5x filter-icon"></span><a>Pendientes</a>
			</li>
			<!--<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>Opcion</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>Opcion</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>Opcion</a>
			</li>
		</ul>
	</li>-->
	

</div></div>

	<!--<label for="type">Tipo de cliente</label>
		<select class="select-form" id="select-type-customer">
			<option id="1">Empresarial</option>
			<option id="2">Personal</option>
			
		</select>-->
	
	<script type="text/javascript">
		
</script>
<section class="fooTable">

	<div class="pdf-info"></div>
	<div class="tableWrapper">
			
<section class="tablePanel">
				
							  
<legend>REQUERIMIENTOS REGISTRADOS</legend>						  
<div class="tableWrapperBody"> 

<table class="main-table hidden" id="example"></table>

<table class="dataTable main-table hidden display cell-border" id="req-content-table">
  <thead id="request-content-table-thead" class="main-thead-table" >
    
        <th>Ref</th>
    	<th>Fecha</th>
    	<th>Departamento</th>
    	<th>Medio</th>
    	<th>Nombre</th>
    	<th>Fono </th>
    	<th>Email </th>
        <th>Status</th>
        <th>Solicitud</th>
       <!-- <th class="no-print">Ordenes</th>-->
       <th class="no-print">Órdenes</th>
    	<th class="no-print">Acciones</th>
    


  </thead>
  <tbody id="request-content-table-tbody" class="main-tbody-table">
  </tbody>
</table>
        
</div>
</section>
</div>




</section>		

<section class="add hidden"><!--	
	<table class="table-info req" id="customer-info">
		<thead>
			<tr rowspan="3">
				<td>
					<label class="label-table" for="class-req">Codigo del cliente </label>
				</td>
				<td>
					<input class="search-data-input" type="text" onfocus="searchBusiness();" onkeyup="searchBusiness();" onchange="searchBusiness();" id="search-customer" list="codigos">
						<datalist id="codigos">
						</datalist>




					<button id="search-customer-button" onclick="searchBusiness();" class="search-data-button">BUSCAR</button>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<label class="label-data" for="class-req">Tipo de cliente</label>
				</td>
				<td>
					<p class="exist-data" id="customer-clas-req"></p>
				</td>
			</tr>
			<tr>
				<td>
					<label class="label-data" for="exist-data">Nombre / Razón social</label>
				</td>
				<td>
					<p class="exist-data" class="exist-data" id="customer-name-req"></p>
				</td>
			</tr>
			<tr>
				<td>
					<label class="label-data" for="rut-req">R.U.T</label>	
				</td>
				<td>
					<p class="exist-data" class="exist-data" id="customer-rut-req"></p>
				</td>
			</tr>
			<tr>
				<td>
					<label class="label-data" for="number-req">N° Local / N° Hogar</label>			
				</td>
				<td>
					<p class="exist-data" id="customer-house-number-req"></p>

				</td>
			</tr>
			<tr>
				<td>
					<label class="label-data" for="cost-center-req">Centro de costo</label>			
				</td>
				<td>
					<p class="exist-data" id="customer-cost-center-req"></p>

				</td>
			</tr>
			<tr>
				<td colspan="2" ><button class="btn-form" id="open-form-req">Continuar</button></td>
			</tr>
		</tbody>
	</table>
-->


				
					
									
			
	
				<form class="new-req formu" id="new-req-form" method="POST"  onsubmit="return insertRequest();">
					
						<section class="form-panel">
								
											  <legend>SUCURSAL A REFERENCIAR</legend>
											  <div class="form-panel-body"> 
                       <div class="medium">
                        <label class="label-form" for="people_contact">Referencia</label>
						
						<input class="new-req" type="text" id="branch_office_code_search" placeholder="Referencia" name="branch_office_code" oninput="searchCostCenterName();" autocomplete ="off"list="branch_office_code_list">
						<datalist id="branch_office_code_list" autocomplete ="off">
							<option value="asd"></option>
						</datalist>
                       </div>

                       <div class="medium">
                        <label class="label-form" for="people_contact">Centro de Costo</label>
						<input class="new-req" type="text" id="branch_office_cost_center" name="branch_office_cost_center" readonly="readonly" placeholder="Centro de costo" required>
                       </div>

                       <input class="new-req" type="hidden" id="branch_office_id" name="branch_office_id">
                      <input class="new-req" type="hidden" id="request_id" name="request_id">
					
						
						</div></section><section class="form-panel">
					  <legend>INFORMACIÓN DEL REQUERIMIENTO</legend>
					  <div class="form-panel-body"> 
						<div class="complete">
							<label class="label-form is-admin" for="medium">Empresa</label>
							<select class="new-req" name="business_id" id="business_id" required>
								
							</select>
						</div>

						<div class="medium">
							<label class="label-form" for="medium">Medio</label>
							<select class="new-req" name="request_medium" id="request_medium" required>
								<option value="">MEDIO</option>
								<option value="1">LLAMADA TELEFONICA</option>
								<option value="2">EMAIL</option>
								<option value="3">SMS</option>
								<option value="4">WHATSAPP</option>
								<option value="5">PERSONAL</option>
							</select>
						</div>

<!--
					    <legend>EMPRESA</legend>
						<div class="medium">
							<label class="label-form" for="medium">EMPRESA</label>
							<select class="new-req" name="business" id="request_medium" required>
								<option value="">EMPRESA</option>
								<option value="0">TECNOSEC</option>
								<option value="1">INFRAGANTI</option>
								<option value="2">GLOBAL BUSINESS</option>
							
							</select>
						</div>
-->
                       
                       <div class="medium"><label class="label-form" for="people_contact">Departamento</label>
                            <input class="new-req" required type="text" name="request_department" id="request_department" placeholder="Persona de contacto"></div>

						<div class="complete">
                            <label class="label-form" for="people_contact">Nombre</label><input class="new-req" required type="text" name="request_r_name" id="request_r_name" placeholder="Persona de contacto">
                        </div>
						
						<div class="medium"><label class="label-form" for="position">Fono</label><input class="new-req" required type="text" name="request_r_phone" id="request_r_phone" placeholder="Cargo"></div>
						
						<div class="medium"><label class="label-form" for="others">Email</label><input class="new-req" required type="text" name="request_r_email" id="request_r_email" placeholder="Otro"></div>

						<div class="complete"><label class="label-form" for="reporting_request">Solicitud</label><textarea class="" required name="request_app" id="request_app" placeholder="Reporte de solicitud"></textarea>

						

						</div></div></section>
</form>

</section>