<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-category"><span class="fa fa-group fa-5x" id="icon-module-customer"></span>Usuarios</button>
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save save-reg" name="" id="" form="new-user-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div new-customer-trigger-p">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
		<!--<div class="print-button printSection"><button class="print printSection"><span class=" printSection fa fa-print fa-5x"></span></button></div>
	<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">Nombre</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Email</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">R.U.T</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="4">Empresa</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="5">Estado</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>-->

	<!--<li class="filter-customer-button-li  filter-customer-trigger" >
		<a class="icon-list filter-customer filter-customer-button filter-customer-trigger" id="filter-customer">
		<span class="fa fa-filter fa-5x filter-customer-trigger" id="icon-body-filter-customer"></span>Filtros</a>
		<ul id="show-filter">
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion1</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion2</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion3</a>
			</li>
			<li class="icona">
				<span class="fa fa-check fa-5x filter-icon"></span><a>opcion4</a>
			</li>
		</ul>
	</li>-->
	






</div></div>

<section class="fooTable">
		<div class="tableWrapper">
				
<section class="tablePanel">
					
								  
<legend>USUARIOS REGISTRADOS</legend>						  
<div class="tableWrapperBody"> 
<table class="dataTable main-table hidden display cell-border" id="user-content-table">
  <thead class="main-thead-table" id="user-content-table-thead">
    <tr>
      <th>Nombre  </th>
      <th>Email	</th>
      <th>RUT	</th>
      <th>Empresa	</th>
      <th>Estado	</th>
      <th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody class="main-tbody-table display cell-border" id="user-content-table-tbody">

    </tbody>
	</table>
</div>
</section>
</div>
    </section>







<section class="add hidden">
<form class="new-user formu" id="new-user-form" method="POST" onsubmit="return insertUser();">
		<section class="form-panel">
				
							  <legend>INFORMACIÓN DEL USUARIO</legend>
							  <div class="form-panel-body"> 
<input type="hidden" id="id_user" name="id_user">
	<label class="label-form customer-name" for="user_name">Nombre de usuario</label>
	<div class="complete"><input type="text" placeholder="Nombre de usuario" id="user_name" class="" name="user_name"></input></div>
	<label class="label-form customer-name" for="user_email">Email</label>
	<div class="complete"><input type="email" placeholder="Email" id="user_email" class="" name="user_email"></input></div>

	
<div class="medium">
	<label class="label-form" for="user_rut">RUT</label>					
	<input required type="text" name="user_rut" id="user_rut" placeholder="RUT" maxlength="">
</div>

	
	<div class="medium">
	<label class="label-form customer-name" for="user_business">Empresa</label><select required name="user_business" id="user_business">
		<option value="0">TECNOSEC</option>
		<option value="1">INFRAGANTI</option>
		<option value="2">GLOBAL BUSINESS</option>
	</select>
</div>
	
	<input required type="hidden" name="user_type" id="user_type"  value="1">


</div></section>
</form></section>