<div class="module-name"><div>
	<button class="module-customer-name icon-list name-module" id="module-customer"><span class="fa fa-list-alt fa-5x" id="icon-module-customer"></span>ÓRDENES DE TRABAJO</button>
	
	
	<ol class="breadcumb">
			
		</ol></div>
		<div>
		
		<div class="save-div save-reg-p hidden">
			<input type="submit" class="save show-s" name="" id="" form="new-ot-form" value="Guardar">
			<span class="fa fa-save fa-5x icon-save " class=""></span>
		</div>
		<div class="save-div advanced">
				<input type="button" class="save show-s activate-advanced-modal" name="" id="" value="Avanzado">
				<span class="fa fa-tasks fa-5x icon-save " class=""></span>
			</div>
	
	<!--	<div class="save-div new-customer-trigger-p hidden">
			<input type="button" class="save new-customer-trigger" name="" id="" value="Agregar">
			<span class="fa fa-plus fa-5x icon-save " class=""></span>
		</div>-->
	
		<div class="save-div print-p printSection ">
			<input type="button" class=" save print printSection" name="" id=""  value="Imprimir">
			<span class="fa fa-print fa-5x icon-save printSection" class=""></span>
		</div>
		<div class="advanced-modal aactivate-advanced-modal"><prango class="rangos"> <label class="label-form aactivate-advanced-modal" for="people_contact">Busqueda por fecha</label>
			<div class="aactivate-advanced-modal">
				Desde 
				<input type="text" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="DD/MM/AAAA"  class="aactivate-advanced-modal" id="fini" name="min">
				<div class="aactivate-advanced-modal" id="to">Hasta</div>
				Hasta 
				<input type="text" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="DD/MM/AAAA" class="aactivate-advanced-modal" type="date" id="ffin" name="max"></div>
		</prango></div>
	

	<ul class="printOptions printSection">
		<p class="adhb printSection">Desactivar Columnas</p>
		<li class="printSection"><a class="hideColumn printSection" id="1">Fecha</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="2">Estado</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="3">Servicios</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="4">Diagnostico</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="5">Productos</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="6">Tecnicos</a></li>
		<li class="printSection"><a class="hideColumn printSection" id="7">Proyectos</a></li>
		<button value="IMPRIMIR	" class="printNow">IMPRIMIR</button>
	</ul>
</div></div>		
<section class="fooTable">  <div class="tableWrapper">
		
<section class="tablePanel">
			
						  
<legend>ORDENES DE TRABAJO REGISTRADAS</legend>						  
<div class="tableWrapperBody">       
<table class="dataTable main-table hidden display cell-border" id="ots-content-table">
  <thead class="main-thead-table">
    <tr>
    	<th class="t-trigger">Fecha</th>
    	<th>Estado</th>
    	<th>Servicios</th>
    	<th>Diagnostico</th>
    	<th>Productos</th>
    	<th>Tecnicos</th>
    	<th>Proyectos</th>
    	<th class="no-print">Acciones</th>
    </tr>
  </thead>
  <tbody id="ots-content-table-tbody" class="main-tbody-table">
  </tbody>
</table>

</div>
</section>
</div>



</section>					
<section class="regConsult hidden">
		<div class="receiptHeader hideIt">
				<img id="newReceiptImg" height="70px" width="" >
				<div id="busInfo">
				</div>
				
			</div>
					<div class="regPrev">

						<table class="regOverview-table">
							<thead class="regOverview-thead-table" id="ot-main-thead">
  							  	<tr>
  							    	<th>
  							    		<p>OT N°</p>
  							    	</th>
  							    	<th>
  							    		<p>asd</p>
  							    	</th>
    							</tr>
  							</thead>
  							<tbody class="regOverview-tbody-table">
  								<tr>
  									<td class="wrap"><p>Guia de entrega:</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Proyecto:</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Servicios:</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Tecnicos:</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Productos:</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Diagnostico:</p></td>
  									<td class="wrap"><p>asdasd</p><p>tyrtyrty</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Observaciones:</p></td>
  								</tr>
  								<tr>
  									<td class="wrap"><p>Documentos:</p></td>
  									<td class="wrap"><a href="asd.com">asd.com</a></td>
  								</tr>
    						</tbody>
    					</table>
    						
    						<div class="otImages">
    							<img src="">
    							<img src="">
    						</div>
    					<div class="otVideos">

    							</div>
					</div>
					<div class="filesPrev"></div>
					
				</section>
<section class="add hidden">
	<form class="new-req formu" method="POST" enctype='multipart/form-data' id="new-ot-form" method="POST" onsubmit="return insertOt();" >
		<section class="form-panel">
				
							  <legend>REQUERIMIENTO A REFERENCIAR</legend>
							  <div class="form-panel-body"> 
<input  type="hidden" id="work_order_id" name="work_order_id">
<input type="hidden" name="work_order_generation" id="work_order_generation">



 <div class="medium">
                        <label class="label-form" for="people_contact">A Nombre de</label>
						<input class="new-req" type="text" id="request_r_name" name="request_r_name" readonly="readonly">
                       </div>

                       <div class="medium">
                        <label class="label-form" for="people_contact">Centro de Costo</label>
						<input class="new-req" type="text" id="request_office_cost_center" name="request_office_cost_center" readonly="readonly">
                       </div>


               <input class="new-req" type="hidden" id="request_id" name="request_id"></div></section>

			   <section class="form-panel">
					
								  <legend>DETALLES ESPECIFICOS DE LA ÓRDEN</legend>
								  <div class="form-panel-body"> 
<div class="complete">



	<div class="medium">
			<label class="label-form" for="user_rut">Servicios</label>	
	<div id="project-wrapper">
		<div id="a1" class="selecterList">
			<select id="serviceList">
				<option value="invalid">Seleccionar Servicio</option>
				<option value="1">implementacion 1</option>
				<option value="2">implementacion 2</option>
				<option value="3">implementacion 3</option>
			</select>
			<button class="addElementList" id="service">Agregar</button> 
		</div>
		<div id="serviceListAdded" class="addedList">
			
		</div>
	</div>


</div>

<div class="medium">
		<label class="label-form" for="user_rut">Técnicos</label>	
<div id="project-wrapper">
	<div id="a1" class="selecterList">
		<select id="technicalList">
			<option value="invalid">Seleccionar Servicio</option>
			<option value="1">implementacion 1</option>
			<option value="2">implementacion 2</option>
			<option value="3">implementacion 3</option>
		</select>
		<button class="addElementList" id="technical">Agregar</button> 
	</div>
	<div id="technicalListAdded" class="addedList">
		
	</div>
</div></div>

<div class="medium">
		<label class="label-form" for="user_rut">Productos</label>	
<div id="project-wrapper">
	<div id="a1" class="selecterList">
		<select id="productList">
			<option value="invalid">Seleccionar Servicio</option>
			<option value="1">implementacion 1</option>
			<option value="2">implementacion 2</option>
			<option value="3">implementacion 3</option>
		</select>
		<button class="addElementList" id="product">Agregar</button> 
	</div>
	<div id="productListAdded" class="addedList">
		
	</div>
</div></div>

<div class="medium"><label class="label-form" for="user_rut">Diagnostico</label>	
<div id="project-wrapper">
	<div id="a1" class="selecterList">
		<select id="diagnosticList">
			<option value="invalid">Seleccionar Servicio</option>
			<option value="1">implementacion 1</option>
			<option value="2">implementacion 2</option>
			<option value="3">implementacion 3</option>
		</select>
		<button class="addElementList" id="diagnostic">Agregar</button> 
	</div>
	<div id="diagnosticListAdded" class="addedList">
		
	</div>
</div></div>


<div class="complete">
<label class="label-form" for="user_rut">Proyecto</label>	
<div id="projectWrapper">


		<select id="projectList" name="proyect_id" class="projectList">
			<option value="1">asd</option>
		</select>
</div></div>

</div></section>

<section class="form-panel">
		
					  <legend>GUIA DE ENTREGA</legend>
					  <div class="form-panel-body"> 
<div class="medium">

<label for="order_date" class="label-form"></label>
<input type="date" id="work_order_date" name="work_order_date"></div>

<div class="medium"><div class="half"><label class="label-form label-files">Hora de entrada</label>
<input class="new-ot" type="time" name="time_input" id="time-in" placeholder="Hora de entrada"></div>

<div class="half"><label class="label-form label-files">Hora de salida</label>
<input class="new-ot" type="time" name="time_output" id="time-out" placeholder="Hora de salida"></div>
</div>

<div class="complete">
<label for="order_date" class="label-form">Observaciones</label>
<textarea name="work_order_observation" id="work_order_observation"></textarea></div>
</div></section>

<section class="form-panel">
		
					  <legend>ARCHIVOS RELACIONADOS</legend>
					  <div class="form-panel-body"> 
 <div class="complete"> <label for="" class="label-form label-files">Documentos</label>
 <div class="documentWrapper">
	  <div id="documentPreview"> </div>

		  <div class="documentDiv">
		    <p class="newDocument">Agregar documento</p>
		    <input type="file" name="documentos[]" class="documentInput" accept="doc/*">
	  	 </div>
  </div>
</div><br><br><hr>

<div class="complete">
  <label for="" class="label-form label-files">Imagenes</label>
  <div class="imgWrapper">
  <div class="imgDiv">
    <p class="newImg">+</p>
      <img id="imgPreview" src="public/img/none.png">
    <input type="file" name="images[]"  class="imgInput" accept="image/x-png,image/gif,image/jpeg">
    <div class="removeImg">x</div>
  </div>
</div>
</div><hr>
	
	<div class="complete">
	 <div id="videos" class=""> <label for="" class="label-form label-files">Videos</label>
		<div class="videoWrapper">
		</div>      
	<div class="videoDiv"><p class="newVideo">Agregar Video</p><input type="file" name="videos[]" class="videoInput" accept="video/*"></div>
	</div></div></div></div><br><br><br>
</section>
</form>
</section>

