

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
margin: auto;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
background-color: #404040;
font-weight: 300;
color:white;


}
#inputPass.error
{
  border:1px solid rgba(215,102,102,0.9);
}
#inputUser.error
{
  border:1px solid rgba(215,102,102,0.9);
}
 h1{ 
  text-align:center;
  color:white;
    font-size: 1.8rem;
    font-weight: 300;
    padding-left: 1em; 
    padding-right: 1em;
  }
body::after {
  clear: both;
  content: "";
  display: table;
}
main
{
	height: ;
}
#logo
{
	position: relative;
	display: block;
    width: 90%;
    margin: 10% auto;
}
.login-form
{
	text-indent: 25px;
	border-radius: 0px;
	display: block;
	position: relative;
	margin: 1em auto;
    width: 80%;
	margin-bottom: ;
    background: #2c3135;
    border: none;
    color: #d6e1e5;
    border: none;
    color: white;
    font-size: 16px;
    padding: 7px 12px;
    height: 40px;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.login-form, .btn-send:focus
{

	outline: none;
}

.btn-send
{
	border-radius: 0px;
	display: block;
	position: relative;
	margin: 2em auto;
    width: 80%;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: #d6e1e5;
    border: none;
    color: white;
    font-size: 16px;
    padding: 7px 12px;
    height: 40px;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
span.loginError::before
{
	    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
	position: absolute;
content: '';
	margin-top:-15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

}
span.loginError
{
	display: none;
	margin: 0 9% auto;
	text-align: center;
	color:white;
	background-color: rgba(215, 102, 102, 0.9);
	font-size: 1.5rem;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.btn-send:hover
{
	background: rgba(0, 0, 0, 0.5);
  border: 1px solid #1d82a9;
}

#login-box
{
	bottom: 5%;
	position: relative;
	width: 100%;
  margin-bottom: 1em;
}
a
{
	color: #02baf2;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    margin-left: 5px;
}

.input-icon [class*="ss-"],
.input-icon [class*="fa-"] {
  position: absolute;
z-index: 1;
  left: 12%;
  margin-top: 12px;
  color: #b2c6cd;
  border-right: 1px solid white;
  width: 20px;
  margin-right: 20px;
}

.forgPass

{	

	position: relative;
	margin: 0 auto;
	text-align: right;
	display: block;
	width: 80%;


}

#passError.is-visible
{
	display: inline;
}

#userError.is-visible
{
	display: inline;
}

footer
{
  bottom: 0;
  width: 100%;
  position: fixed;
  margin-top: 3em;
  height: 3em;
  background-color: rgba(0,0,0,0.2);
  z-index: 1;
}

input[type="email"]
{
      font-family: "Open Sans", sans-serif;
font-weight: 300;
}

input[type="submit"]
{
      font-family: "Open Sans", sans-serif;
font-weight: 400;
}

input[type="password"]
{
      font-family: "Open Sans", sans-serif;
font-weight: 300;
}










.flexed
{
margin: auto;
font-size: 1.6rem;
font-family: "Open Sans", sans-serif;
background-color: #404040;
font-weight: 300;
color: #3e454c;
width: 512px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}

.flexed2
{
  display: flex;
  margin-top: 0em;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#verifyIcon{
width: 30%;
height: 30%;
}

.verifiedContent
{
  width: 90%;
  display: flex;
}
.ver
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
}
.redirect:hover
{
  background: #266b94;
}
.redirect
{
  width: 90%;
  background: #4284ad;
  color:#fff;
  padding:12px;
  font-size:16px;
  text-decoration:none;
  display:block;
  margin:0;
  text-transform:uppercase;
  text-align:center;
  margin-bottom: 5em;
}