* {
        /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}
/*::-webkit-scrollbar {
  border:1px solid #3e454c;
    width: 12px;
}
 

 
::-webkit-scrollbar-thumb {
background-color: #3e454c;
}*/


#logoImg
{
  display: none;
}
#logo-container
{
  display: none;
}


*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
margin: auto;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
font-weight: 300;
color:white;
    display: block;
    height: 100vh;



}

  .account .active  > a {
    /* current page */
    box-shadow: inset -3px 0 0 #1784c7;
    background-color: #33383e;
  }
body::after {
  clear: both;
  content: "";
  display: table;
}
.page-header
{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height:60px;
    width: 100%;
    background: #3e454c;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.page-header.right
{
      -webkit-transform: translateX(calc(100% - 60px));
  -moz-transform: translateX(calc(100% - 60px));
  -ms-transform: translateX(calc(100% - 60px));
  -o-transform: translateX(calc(100% - 60px));
  transform: translateX(calc(100% - 60px));
}
.logo
{
  display: none;
}
.logo2 { 
    height: 60px;
    position: relative;
    vertical-align: center;
    width: 110px;
    display: inline-block;
    padding-top: 10px;
    background-color: #2c3136;
}
.left-nav::-webkit-scrollbar { 
    display: none; 
}
a
{
  text-decoration: none;
}

#logoImg
{
  height: 30px;
  width: 30px;
}
#logoImg.hidden
{

  display:none;
}

#logo-figure
{
  margin-left: 35px;
  height: 40px;
}
#logo-figure.hidden
{

  display:none;
}


.page-header-trigger
{
  display:none;
}

.page-header-trigger span, .page-header-trigger span::before, .page-header-trigger span::after {
  display:none;
}

/*.page-header-trigger.clicked span {

height: 0px;

}
.page-header-trigger.clicked span::before{
    -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
 
  margin-top:10px;
}
.page-header-trigger.clicked span::after{
-webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
#logoo
{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 14px;
}
.logoCapas
{
  margin-left: 1em;
  width: 32px;
  height: 32px;
  cursor:pointer;
}
#capa1
{
  position:absolute;
  }
#capa2
{
  position:absolute;
    -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#capa2.rotate
{
-webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#capa3.rotate
{
-webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
#capa3
{
  position:absolute;
    -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#capa4.rotate
{
-webkit-transform: rotate(+150deg);
  -moz-transform: rotate(+150deg);
  -ms-transform: rotate(+150deg);
  -o-transform: rotate(+150deg);
  transform: rotate(+150deg);
}
#capa4
{
  position:absolute;
    -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}



.page-header-trigger span {
display:none;}
.page-header-trigger span::before, .page-header-trigger span::after {
display:none;
}
.page-header-trigger span::before {
display:none;
}
.page-header-trigger span::after {
 display:none;
}
.page-header-trigger.nav-is-visible span {
display:none;
}
.page-header-trigger.nav-is-visible span::before, ..page-header-trigger.nav-is-visible span::after {
display:none;
}*/

.top-nav-list img {
  /* avatar image */
  position: absolute;
  left: 0.5em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  display: none;
}
.top-nav-list .submenu > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 60px;
        position: relative;
}


.top-nav {
  width: calc(100% - 110px);
    display: block;
    float: right;
    height: 60px;


  }
  .account
  {
 word-wrap: break-word;
    float: right;
  }
  .top-nav-list {
        justify-content: space-between;
    display: flex;
    height: 100%;
  }
  .top-nav-list a {
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
  }
  .top-nav-list > li {
    display: inline-block;
    height: 100%;
  }


  .top-nav-list img {
    display: block;
  }
.page-search {

  width: calc(100% - 300px);

  text-align: center;
  vertical-align: center;
  line-height: 60px;
  right: 0.5mm;

}
.submenu
{

  position: relative;
  display: inline-block;
}


.top-nav-list .submenu ul a {
    padding-left: 40px !important;
}

.top-nav-list ul a {
    text-align: left;
    border: none;
    padding: 1em;
}

.submenu ul > li > a:hover {
  background-color: #3e454c;
}



.top-nav-list .submenu ul::before {
    border-bottom: 8px solid #2c3136;
    position: absolute;
    content: '';
    margin-left: calc(20px + 2px);
    margin-top: -7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.top-nav-list .submenu ul {
  margin-top: 7px;
  display: none;
  position: absolute;
    background-color: #2c3136;
    width: 100%;
    top: 100%;

}
.topM
{
  margin-left: -15px;
}
.top-nav-list .submenu.selected ul {
display: block;
}
.top-nav-list .submenu.selected
{
background-color: #2c3136;}

.top-nav-list .submenu > a::after {
    display: block;
    right: 1.2em;
}
.submenu > a::after {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    right: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/cd-arrow.svg);
}

.account
{
cursor: pointer;
}


#search-input{
    width: 200px;
  color:white;
  visibility:visible;
  font-size: 2.5rem;
  padding-right: 32px;
  padding-left: 1em;
  width: 100%;
  height: 50px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #3e454c;
}

#search-input::-webkit-search-cancel-button{
display:none;
}

#search-input.visible
{
  visibility:visible;
}
.page-search input:focus {
  outline: none;
}
.page-search
{

}


/*.left-nav
{
  padding-left: 60px;
  display: inline-block;
  overflow-y: scroll;
  z-index: 1;
  left: -100%;
  background-color: #2c3136;
  height: 100vh;
  position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: relative;
  float: left;
  top: 0px;
  width: 100%;

  font-size: 0.1rem;
  

}*/
.left-nav
{
  display: inline-block;
  position: relative;
  top:0px;
  width: 110px;
  z-index: 1;
  background-color: #2c3136;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
  overflow-y:auto
  min-height:50vh;
  height:100vh;
  max-height:100vh;
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



#userPanel
{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 2;
   background: #3e454c;
   top:0;

}
#separator
{
  width: 100%;
  height: 60px;
  
   background: #3e454c;

}
#userPanelInput
{
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 1em;
   top:10px;
}
.userinfo2
{
  height: 15px;
  vertical-align: center;
  line-height: 15px;
  display: block;
  position: relative;

  border:none;

}
#username2
{

  top:15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .0em;
    text-align: left;
    color:white;
}
#position2
{
  top:16px;
    font-size: 1.2rem;
    letter-spacing: .0em;
    text-align: left;
    color:white;
}
#userImg{
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  margin-right: 5px;
}

.left-nav > ul {
  padding:  0;
}
.left-nav > ul:last-of-type {
  padding-bottom: 0;
}
.left-nav .label, .left-nav a {
  display: block;
  padding: 1em 5%;
}
.left-nav .label, .left-nav b {
  display: block;
  padding: 1em 5%;
}
.left-nav .label {
display: none;
}
.left-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
font-weight: 300;
}
.left-nav b {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
font-weight: 300;
}


.left-nav > ul > li > a {
  height: 100px;
    text-align: center;
    padding-top: 52%;
}
.left-nav > ul > li > b {
  padding-left: calc(5% + 50px);
}


.left-nav > ul > li > a:hover {
  background-color: #3e454c;
}
.left-nav > ul > li > b:hover {
  background-color: #3e454c;
  cursor: pointer;
}

.fa:hover + a{
  background-color: #3e454c;
}
.fa:hover + b{
  background-color: #3e454c;
}

  .left-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
.menu-list
{

}
.icon.options [class*="ss-"],
.icon.options [class*="fa-"] {
  font-size: 3rem;
  position: absolute;
  z-index: 1;
  left: calc(50% - 15px);
  margin-top: 22px;
  color: #b2c6cd;
  width: 30px;
  cursor: pointer;
}
.icon.options2 [class*="ss-"],
.icon.options2 [class*="fa-"] {
  font-size: 2.2rem;
  position: absolute;
  z-index: 1;
  left: 1em;
  margin-top: 8px;
  color: #b2c6cd;
  width: 30px;
  cursor: pointer;
}

.fa
{
  text-align: center;
}

.content {
  display: block;
  position: absolute;
  margin-top: 60px;
  word-wrap: break-word;
width: calc(100% - 110px);
margin-left: 110px;
  color: #2c3136;

  overflow-y:auto;
  padding-bottom: 10rem;
  min-height:calc(100% - 60px);
max-height:calc(100% - 60px);
}



li.acc{display:none}/*hide third li*/
.acc{display:none}/*hide third li*/


/*------------------------------------------------------------------------*/


.module-name
{


    overflow-y: hidden;
    position: fixed;
    z-index: 10;
    width: calc(100% - 110px);
    height: 50px;
    margin-bottom: 2em;
    background-color: #3e454c;
    color: white;
    vertical-align: center;
    line-height: 50px;
    padding-left: 1em;
    border-bottom: 1px solid white;



}

h3
{
  color:white;
  font-size: 2rem;
  display:inline-block;
}
.new-data
{
  /*background-color: #1d82a9;*/
  color:white;
  position: relative;
  font-size: 1.2rem;
  vertical-align: middle;
  display: inline-block;
  float: right;
  height: 100%;
  width: 50px;


}
.filter-customer-button
{
  /*background-color: #1d82a9;*/
display: none;
  color:white;
  position: relative;
  font-size:1.7rem;
  vertical-align: middle;
  float: right;
  height: 100%;
  padding-left:3.5rem;
  padding-right: 1rem;

}
.filter-customer-button-li
{
  /*background-color: #1d82a9;*/
  color:white;
  position: relative;
  font-size:1.5rem;
  vertical-align: middle;
  display: inline-block;
  float: right;
  height: 100%;
}
.filter-customer-button > ul
{
  margin-top: 2em; 
}

#icon-module-customer
{
  /*background-color: #1d82a9;*/
  color:white;
  position: absolute;
  font-size: 3rem;
  left: 20px;
  z-index: 0;


}
.name-module
{
  padding-left: 4rem;
  font-size: 2rem;
  vertical-align: center;
  line-height: 50px;
  color: white;

}


#icon-body-filter-customer
{
  position: absolute;
  left: 10px;
font-size: 2rem;
z-index: 0;
}

#icon-body-add-customer
{
  position: absolute;
  right: 0.75em;
font-size: 2rem;
}


.icon-list [class*="ss-"], .icon-list [class*="fa-"] {

    
    
    position: absolute;
    z-index: 1;
    color: white;
    cursor: pointer;
      top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#new-customer-form
{
  padding-bottom: 1em;
}

#save-customer
{
  top:-50px;
}

.formu  .label-form
{
  margin-top: 10px;
  display:block;


color: #364347;
 font-size: 1.5rem;
 font-weight: 700;
    clear: both;
}
.medium
{
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  width: 49.5%;
}
.medium.separated
{
  margin-top: 2rem;
  }
.half
{
  display: inline-block;
  width: 49%;
}
#checkbox-div
{
  height: 50px;
}
.complete
{
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  width: 100%;
}
.formu  input[type="text"]:disabled 
 {
    background-color: #d6e1e5;
}

.formu input[type="time"],.formu input[type="text"], .formu  input[type="email"], .formu  select,.formu  input[type="date"], .formu input[type="password"], .formu input[type="number"], #product_cost
{
  display: inline-block;
  width: 100%;

    border: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
   /* margin-left: 5%;*/
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 40px;
}
 #new-customer-form input[type="text"]::-webkit-input-placeholder,#new-req-form input[type="text"]::-webkit-input-placeholder, #new-customer-form input[type="email"]::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }

.customer-name
{
  margin-left:1em;
  margin-right:1em;
  width:calc(100% - 2.2em) !important;
}

.new-customer-trigger
{
  cursor: pointer;
}

.formu select {


  margin-top: 0em;
  margin-bottom: 0em;
    white-space: nowrap;
    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 0.2em;
    width: 100%;
    height: 40px;
}

#new-ot-form select {


background-color: red;
    white-space: nowrap;
     border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
   /* margin-left: 5%;*/
    margin-top: 0em;
    width: 100%;
        height: 40px;
}

.formu select option
{
  background-color: white;
   padding: 1rem;
   font-size: 1.5rem;
   color:#364347;
}
.formu select option:hover
{
  background-color: #1d82a9;
}

.formu input[type="text"]:focus,.formu input[type="email"]:focus,.formu input[type="time"]:focus, .formu input[type="password"]:focus,.input[type="number"]:focus
{
  border-color: rgba(29,130,179,0.5);
  outline: none;
}
.formu select:focus
{
  border-color: rgba(29,130,179,0.5);
  outline: none;
}



.save-data
{
  background-color: #1d82a9;
  width: 100px;
  height:40px;
  color: white;
  text-align: center;
  line-height: 40px;
  /*margin-left:5%;*/
  font-size: 1.3rem;
  /*margin-top: 2em;*/

  float:right;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;

}

#new-customer-form .form-radio
{
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width: 50%;
  color: #364347;
  height: 50px;
  background-color: #3e454c;

}
#form-radio2
{
  float:left;
}


.form-radio:checked {
  border: 26px solid white ;
    outline: none;
  
}
.form-radio{


}
.form-radio:hover{
 
  outline: ;

}
#radio-label1
{
  font-size: 1.8rem;
  color:#a9a9b6;
  line-height: 50px;
  vertical-align: 50px;
  text-align: center;
  position: absolute;
  height: 50px;
  width: 49%; /* Need a specific value to work */
  right:0;
  top:0;
  display: block;
  z-index: 0;
}

#radio-label2
{
  font-size: 1.8rem;
  color:#a9a9b6;
  line-height: 50px;
  vertical-align: 50px;
  text-align: center;
  position: absolute;
  height: 50px;
  width: 50%; /* Need a specific value to work */
  left: 0;
  top:0;
  display: block;
  z-index: 0;
}
.radio-label.active
{
  color:#364347;
}
a
{
  color:white;
}

.filter-customer-list
{
  display: block;

  background-color: #3e454c;



}
.filter-customer-button-li
{
background-color: #3e454c;
}

.filter-customer-button-li.active
{
background-color: #2c3136;
}

.filter-customer-button-li > ul
{

  width:;
  background-color: #3e454c;
  z-index: 2;

}

.filter-customer-button-li > ul > li:hover
{
  background-color: #2c3136;
}

.filter-customer-button-li > ul > li
{
      display: inline-block;
  padding-left: 3.5rem;
  padding-right: 1rem;
  cursor: pointer;
}

.icona.active {
    /* current page */
   box-shadow: inset 0px -3px 0 #1784c7;
    background-color: #33383e;
  }


.filter-icon
{
  position: absolute;
  margin-left: 0px;
  color:red;
}

.icona [class*="ss-"],
.icona [class*="fa-"] {
  font-size: 1.8rem;
  position: absolute;
  z-index: 1;
  margin-top: 9px;
  color: #b2c6cd;
  width: 20px;
  cursor: pointer;
 margin-top:15px;
 margin-left:-3rem;
}

#show-filter
{
}

#show-filter.visible
{
  display:block;
}
.filter-customer-trigger
{
  cursor: pointer;
}

.exist-data
{
  font-size: 1.2rem;
  width: 49%;
  display: inline-block;
  color:#3e454c;
}

.exist-data:focus
{
  outline: none;
}
.label-data
{      font-weight: bold;
    font-size: 1.4rem;
    display: inline-block;
    color: #3e454c;
    margin-left: 1rem;
}

.label-table
{

  font-size: 1.7rem;
  padding-left: 1rem;
  width: 100%;
  display: inline-block;
  color:#3e454c;
  font-weight: 300;
}


.t1
{
  width: 30%;
}
.t2
{
  width: 100em;
}

.table-info
{

  display: inline-block;
  float: center;
  background-color: white;
 
}
.table-info.ot
{

width:49.5% !important;
 
}

.table-info tr, .table-info td
{
  vertical-align: center;
  top:0px;
  height: 50px;
  line-height: 50px;
}
.table-info tbody tr:not(:last-child)
{
 
}

.table-info td:nth-of-type(1)
{
  text-transform: ;
  width: 40%;

font-weight: bold;
   color:white;
}

.table-info head td:not(:first-child)
{
 
  width: 30%;
}

.exist-data
{
  width: 100%;
}
.table-info thead
{
  height: 50px;
  padding: 0.5rem;
  text-align: center;
  width: 100vw;
  border-bottom:1px solid #cccccc;

 }
.table-info tbody.hidden
{
  ;
}



.search-data-input
{
display: inline-block;
    width: 100%;
    border: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 5rem;


  
  font-weight: 300  ;
}
.search-data-input:focus
{
  outline: none;
}
.search-data-button,.dataTables_filter
{
display:none;
}

.search-data-button:active
{
    background-color: #086c8b;
}



#send-account-form input[type="text"]
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#send-account-form input[type="text"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }

/*#new-req-form input[type="text"], #new-req-form input[type="date"],#new-req-form select
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; 
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#new-req-form input[type="text"]:focus, #new-req-form input[type="date"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }*/
#new-req-form.visible
{
  
}
#new-req-form
{
  display: inline-block;
 
  margin-left: 1rem;
}

#new-ot-form
{
  display: block;
    padding-top: 2rem;
    
}

#req-info
{
  margin-top: 1rem;
  height: calc(100% - 2rem);
  width: 46.5% !important;
  margin-right: 1rem;display: inline-block;
   padding-left: 1rem;
}

#customer-info
{
  margin-top: 1rem;
  height: calc(100% - 2rem);
  width: 40%;
  margin-left: 1rem;display: inline-block;
   border-right: 1px solid #cccccc;
   padding-right: 1rem;
}

  fieldset
  {
    margin-left: 5%;
    border-bottom: 1px solid #364347;
    width: 90%;
    text-align: center;
    color:  #364347;
    text-transform: uppercase;
  }


.btn-form
{
  background-color: #1d82a9;
  width: 100px;
  height:40px;
  color: white;
  text-align: center;
  line-height: 40px;
  /*margin-left:5%;*/
  font-size: 1.3rem;
  /*margin-top: 2em;*/
  margin-bottom: 0px;
  position: relative;
  float:right;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.btn-form:active
{
    background-color: #086c8b;
}
#open-form-ot, #open-form-req, #open-req-info
{
    display: none;
}

.add.hidden
{
  display:none;
}
.add
{
 
display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 90%;
  width: 1200px;
  margin-top: 3em;
  float: center;}


input[type="checkbox"]{
    display: none;
    border: none !important;
    box-shadow: none !important;
}

input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    background: url(../img/uncheck.png)  no-repeat ;
      background-size: 4rem 4rem;
}

input[type="checkbox"]:checked + label span {
    background: url(../img/check.png)  no-repeat ;
    content: '\f14a';
    color: #fff;
    vertical-align: middle;
    width: 4rem;
    height:4rem;
    background-size: 4rem 4rem;
}
legend
{
  margin: 1rem;
  font-weight: bold;
    
  border-bottom: 1px solid #cacaca;
  width: calc(100% - 2rem);
  float: center;
  text-align: left;
    padding-bottom:   1rem;
    color:  #3e454c;
    font-size:  2rem;
    margin-top: 3rem;
}

.label-check
{
  font-size:  2rem;
  color: #3e454c;

}

.new-ot
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

.new-ot-instalacion
{
    border-bottom: 1px solid #d6e1e5;
    border-left: 1px solid #d6e1e5;
    border-right:none !important;
    border-top:none !important;
    color: #364347;
    background-color: white;
    font-size: 1.5rem !important;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: calc(100% - 5rem) !important;
    margin-left: 3.5rem;
    height: 5rem;
    margin-top: -1rem
}
.formu textarea

{    border: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    height: 10rem;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
  }
.formu textarea
{    border-color: #cccccc;
  outline: none;

  }
.divleft
{
  float: left;
}




.error
{
 box-shadow: 0 0 1px 1px red inset;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 5rem;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
border: 1px solid #cccccc;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 1.5rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    margin-left: 1rem;
    height: 200px;
        text-align: center;
}
.three
{
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  width: 33%;
}
#previewImg,#previewDoc,#previewVideo
{
    background-color: #3c454e;
    margin-left: 1rem;
    display: table;
    width: calc(100% - 1rem);padding-top: 1rem;
    padding-bottom: 1rem;

}

.fileContainer [type=file] {
    cursor: pointer;
}

#file-label
{
      line-height: 1em;
  width: 100%;
  height: 100%;
  color: #364347;
    background-color: white;
    font-size: 2rem;

}
.fooTable.hidden
{
  display:none;
}


.fooTable
{  

 margin-top: 2em;
  max-width: 95%;
  margin: 0 auto;
}
.table-action
{
  font-size: 2rem;
}/*
table.main-table 
{
border: 1px solid #cccccc;
  margin: 0 auto;
  table-layout: fixed;
  position: relative;
  background-color: white;
  max-width: 90%;
  overflow-x: overflow;
  border-collapse: collapse;}


table.main-table  thead th
{

color: #3e454c;

}

table.main-table  tbody td
{
   
  color: #3e454c;
}

table.main-table  thead tr
{
  font-weight: bold;
  color:white;
  padding: 1rem;
border: 1px solid #cccccc;
  background-color: #3e454c;
  position: relative;
}

table.main-table  thead tr td
{
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
   text-transform: uppercase;

}
table.main-table  tbody tr:last-child
{
  
}
table.main-table  tbody tr,table.main-table  thead tr
{
  border-style: inset;
 
}
table.main-table  tbody tr td
{
  padding: 2rem;
  padding-bottom: 2.5rem;
  font-size: 1.2rem;

}table.main-table  tbody tr 
{
 border-bottom: 1px solid #cccccc;}
table.main-table  tbody td:first-child
{
color:#3e454c;
border-left: 1px solid #cccccc;
font-weight: 700;
}

table.main-table  tbody tr:hover
    {
      background-color: #eaeaea;
    }

table.main-table  tbody tr:nth-child(2n)
{
   background-color: #f3f3f3;
}table.main-table  tbody tr:nth-child(2n):hover
{
    background-color: #eaeaea   ;
}

   */



.message-box
{
  box-shadow: 0;
  height: 80px;
  width: 400px;
  position: fixed;
  text-align: center;
  vertical-align: center;
   bottom:-80px;
  right: 20px;
  border: none;
    transition: bottom 1s;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;


}
.message
{ 
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color:white;
  font-size: 2.5rem;
  font-weight: 300;
  width: 95%;
  text-align: center;
  border:none;


}
.message-box.Error
{

  background-color: rgba(204,1,1,1.8);
  bottom:20px;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;

}
.message-box.Exito
{

  background-color: rgba(107,189,110,0.8);
 bottom:20px;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.message-box.Aviso
{

  background-color: rgba(0,157,205,0.8);

  bottom:20px;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.a
{
  width: 100px;
  height: 50px;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.b
{
  margin-left:-.4rem;
  width: 102%;
}


strong
{
  color: white;
  font-weight: 700;
}

h1 
{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #3e454c;
}
p
{
  color: #3e454c;
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#lastest-label
{
  margin-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
#lastest-label2
{
    line-height: 120%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
table.lastest thead th,table.lastest tbody td
{
   
  padding: 2rem;
  text-align: left
}

table.lastest
{
  margin: 0 auto;
  table-layout: fixed;
  position: relative;
  background-color: white;
  width: 770px;
  border-collapse: collapse;
}@media (min-width: 1170px)
{
   table.lastest
   { width: 970px;}
}
    
table.lastest thead th
{
  font-size: 1.6rem;
color: white;
width: 33%;
}

table.lastest tbody td
{
   
  color: #3e454c;
}

table.lastest thead tr
{
  font-weight: bold;
  color:white;
  background-color: #8abddc;
  position: relative;
}

table.lastest tbody tr:hover
    {
      background-color: #e7ffeb;
    }

table.lastest tbody tr:nth-child(2n)
{
    background-color: #edf8fc;
}table.lastest tbody tr:nth-child(2n):hover
{
    background-color: #e7ffeb   ;
}
body
{
  background-color: white;
}

table.lastest .collapseC
{
  display: none;
}


/*#main-content-table-thead.is-fixed
{
  width: 100%;
  position:fixed;
  top:60px;
}
*/

.actions
{
  font-size: 1.5rem;
  padding:.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #0083ac;
  color:white;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  text-align: center;
}

.actions:active
{
    background-color: #086c8b;
}


.dataImg
{
  width: 90%;
}

#imageShow,#videoShow,#documentShow
{
    background-color: #3e454c;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    color:blue;
}

#imageShow img
{
  margin-top: 1em;
  margin-bottom: 1em;
}
#videoShow video
{
  margin-top: 1em;
  margin-bottom: 1em;
}
#documentShow a
{
    width: 100%;
  display: block;
  padding: 1rem;
  height: 1em;
  margin-bottom: 3em;
  float: left;
  text-align: left;
  color:blue;
}

video 
{
    width: 100%;
    height: auto;
    max-height: 100%;
}    
  

p
{
  font-size: 2rem;
  color: white;
}

.dropdown
{
  display: none;
  border: 1px solid #cccccc;
  background-color: white;
  position: absolute;
  z-index: 4;
}
.dropdown.visible
{
  display:block;
}
.second
{
  
}
.third
{

}
.dropdown::before
{
    border-bottom: 8px solid #2c3136;
    position: absolute;
    content: '';
    margin-left: calc(20px + 2px);
    margin-top: -7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.dropdown > li
{
 
  font-size: 1.5rem;
  padding: 1rem;
   z-index: 2;
   height: 3rem;

}

.table-action [class*="ss-"],
.table-action [class*="fa-"] {
  font-size: 2.5rem;
  z-index: 1;
  width: 30px;
  cursor: pointer;
  color: #3e454c;
}
.table-action
{

  display: inline-block;
position: relative;
          transform: translateY(0.5rem);
         
}

.table-action:not(:first-child)
{
 margin-left: 10px;
}
.icon-action-container
{
  display: inline-block;
  width: 80px;
}

.main-thead-table
{
  border: 1px solid #3e454c ;
}

#new-req-form label
{
  
    margin-left: .1rem;
}

.print-button
{

    width: 50px;
    height: 50px;
    display: inline-block;
    float: right;
}
.print
{
    text-align: center;
    color: white;
    position: relative;
    font-size: 1.2rem;
    vertical-align: right;
    display: inline-block;
    /* float: right; */
    height: 100%;
    width: 50px;

}
.print [class*="ss-"],
.print [class*="fa-"] {
    font-size: 2.5rem;
    /* position: absolute; */

    /* left: 1em; */
    /* margin-top: 8px; */
    color: white;
    width: 30px;
    cursor: pointer;
}
/*
table.main-table thead tr th {
    cursor: pointer;
    word-wrap: normal;
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}
*/




.printNow
{
      width: 100%;
 
    position: relative;
    background-color: #6285b7;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: .9em;
        height: 55px;
}

.printNow:hover
{

    background-color: #6f96cd;

}
.printNow:focus
{

    background-color: #4e6f9e;

}
.rmField
{
      color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.addField
{
      color: #37b2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.dynField
{
  display: flex;
}























#loading-div
{
  background-image: url('../img/load.gif');
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.2);
  background-position: center center;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none;
}

#loading-div.active
{
  display:block;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
      background-image: url('../img/load.gif');
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,1);
  background-position: center center;
  background-size: 50px 50px;
}


.printOptions
{
    width: 200px;
    height: 50px;
    display: inline-block;
    float: right;
    position: absolute;
    z-index: 999;
    float: right;
    right: 50px;
    margin-top: 50px;
    display: none;
        margin-top: 49px;
    z-index: 5000;
 
    position: fixed;
}

.printOptions.active
{
      margin-top: 49px;
    z-index: 5000;
    display: inline-block;
    position: fixed;
}

.printOptions > ul
{
  background-color: red;
  z-index: 9;
}

.printOptions ul
{
  background-color: red;
  z-index: 9;
  position: absolute;
  margin-top: 50px;
}

.printOptions > li
{
display: flex;
    background-color: #2c3136;
    z-index: 9;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}



.printOptions > li > a {
    line-height: 1em;
    font-size: .7em;
    padding: .5rem;
    text-align: center;
    cursor: pointer;
    background-color: #33383e;
    width: 100%;
}

.hideColumn.not-active
{
  background-color: #2c3136;
}

.adhb
{
background-color: #2c3136;
    color: #cccccc;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    font-size: .8em;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tableDropdown
{
  width: 80px;
    height: 29px;
  background-color: #6285b7;
  color: white;
  display: flex;
  /* justify-content: center; */
  padding-left: 15px;
  align-items: center;
  font-size: .9em;
  cursor: pointer;
}

.tableDropdown:hover
{

    background-color: #6f96cd;

}
.tableDropdown:focus
{

    background-color: #4e6f9e;

}

.tableDropdown::after {
    border-color: #FFFFFF transparent transparent transparent;
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    /* top: 50%; */
    width: 0;
    border-width: 0.33333rem;
    margin-left: 44px;
    margin-top: -8px;
    border-color: #FFFFFF transparent transparent transparent;
  }

.dropdownButtonList
{
  border: 1px solid #5f5b5b;
    margin: 1px;
    position: absolute;
    background-color: #2c3136;
    color: white;
    z-index: 30;
    width: 90px;
    margin-left: -5px;
    display: none;
    
}
.dropdownButtonList.active
{
       display: block;
    
}
.dropdownButtonList:before
{
border: inset 6px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #2c3136 transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 70%;
    z-index: 89;

}
.dropdownButtonList li
{
      padding: 1rem;
}

.dropdownButtonList li:hover
{
      padding: 1rem;
      background-color: #3e454c;
}
.dropdownButtonList li a
{
      color:white;
      font-size: .8em;
      font-weight: 200;
}


.dropdownButtonList.active.last
{
  margin-top:-110px;
}
.dropdownButtonList.active.last:before
{
      transform: rotate(180deg);
  margin-top: 82px;
}

.dropdownButtonList li
{
  cursor: pointer;
}


.f-right
{
  float: right;
}

.receiptContainer
{
  padding: 2em;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
 
}
.receiptHeader
{
  display: flex;
  width: 100%;
   justify-content: space-between;
     flex-direction: row;
}

#busInfo
{
  border-left: 1px solid red;
  justify-content: flex-end;
  display: flex;
  flex-direction:column;
}

#busInfo > p
{
  font-size: .9em;
  color: black;
  margin-bottom: .3em;
}


.receiptInputs
{
      color: black;
    font-size: 1.2em;
}
#receiptDate
{
  display: flex;
  justify-content: flex-end;
  padding-top:2em;
  padding-bottom: 2em;
      align-items: center;
}

#receiptDate > p
{
  color: black;
    font-size: 1.2em;
}
#receiptTitle
{
  display: flex;
  justify-content: center;
  align-items: center;
}
#receiptTitle > p
{
  color: black;
    font-size: 1.4em;
}

#receiptServiceCont,#receiptPaymentCont
{
  display: flex;
  justify-content: left;
  align-items: center;
}
#receiptServiceCont > p,#receiptPaymentCont > p
{
  color: black;
    font-size: 1.2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

#receiptServiceInput,#receiptPaymentInput
{
  border-bottom: 1px solid black;
  align-items: center;
}
#receiptDetails > p
{
  padding: .2em;
    color: black;
    font-size: 1.2em;
    line-height: 1em;
}
#receiptDetails
{
flex-wrap: wrap;
    display: flex;}

    .borderBo
    {
      border-bottom: 1px solid black;
    }


    #receiptObsCont > p:nth-child(1)
    {
      color: black;
    font-size: 1.2em;
    line-height: 1em;
    }
 #receiptObsCont
 {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #receiptObsInput
  {
    word-wrap: break-word;
    width: 100%;
    line-height: 1.2em;
  }

  #receiptBody
  {
    display: flex;
    padding: 2em;
    flex-direction: column;
  }

  .receiptContainer, .regOverview-table > tbody > tr:nth-child(10)
  {
    display: none;
  }

.regPrev
{
      overflow-x: hidden;
      max-width: 70%;
  padding:1em;
    overflow-y: hidden;
   
    margin-top: 2em;
      max-width: 70%;
    margin: 0 auto;
}
.regOverview-table
{
     width: 100%;
}
.regOverview-table thead
{
  background-color: #6f7e95;
}

.regOverview-table thead
{
  background-color: #6f7e95;



}

.regOverview-table thead tr th
{
color:white;
font-weight: 700;
font-size: 1.2em;
padding: 1em;
}

.regOverview-table tbody > tr
{
  border-bottom: 1px solid rgba(111,126,149,0.1);
  margin-left: 1em; 
}
.regOverview-table tbody > tr > td:nth-child(1)
{
  font-weight: 400;
  font-size: 1em;
  padding: 1.5em;
  width: 30%;
}
.regOverview-table tbody > tr > td
{    word-wrap: break-word;
    width: 70px;
    word-break: break-word;
padding: 1.5em;}

.regOverview-table > tbody > tr > td:nth-child(1)
{
  color: #3e454c;
  font-weight: 700;
}
.regOverview-table > tbody > tr > td:nth-child(2)
{
  color: #3e454c;
  font-weight: 400;
}
.regOverview-table > tbody 
{
  
}
.regOverview-table > tbody 
{
  
border: 1px solid rgba(111,126,149,0.1);

}

.regOverview-table > thead:nth-child(1)
{
  background-color: #6f7e95;
}
.regPrev > table:nth-child(1) > thead:nth-child(1)
 { background-color: #3e454c;}
.regOverview-table > thead:nth-child(1) > tr > th:nth-child(2)
{
  text-align: right;
}

.regOverview-table > tbody > tr > td > p
{

  color: #3e454c;
  font-weight: 400;
  line-height: 1.4em;
  padding-right: 1em;
  padding-left: 1em;
  margin: .5em;
  font-size: 1.3rem !important;
}

.regOverview-table:nth-child(1) > tbody > tr > td,.regOverview-table:nth-child(2) > tbody > tr > td
{

    flex-wrap: wrap;
    justify-content: space-between;

}


.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th > p:nth-child(1)
{
    color: white;
    font-weight: 700;
    font-size: 1em;
}


.regOverview-table:nth-child(3) > tbody > tr > td > a
{
  color: #3e454c;
    font-weight: 400;
    line-height: 1.4em;
    padding-right: 1em;
}
.otImages
{
border:1px solid rgba(111,126,149,0.1);}

.otImages > img
{
  width: 45%;
  padding: 1em;
  
}

.otVideos
{
  border:1px solid rgba(111,126,149,0.1);
 
}

.regConsult.hidden
{
  display:none;
}

.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th
{

}


.req_status
{
 
word-wrap: normal;
    font-size: 1.2rem;
    color: #3e454c;
    cursor: pointer;
}

.req_status > option
{
  word-wrap: normal;
    font-size: 1.2rem;
    color: #3e454c;
   
}

.regOverview-table > tbody > tr > td:nth-child(2) > p
{

}
#ot-main-thead > tr > th:nth-child(2) > p
{
  text-align: right;
}

.regOverview-table > tbody > tr > td > a
{
  color: #6f7e95;
}

.fooTable, .add,.regConsult
{
  margin-top: 80px;
}


.printSection
{

}


.dataTables_length,.dataTables_info,.paginate_button
{
  display: none;
}

#client-content-table_filter
{
  transform: translateX(-50000px);
  position: fixed;
}

#module-customer
{
  margin-right: 3em;
}

#fini,#ffin
{
  color: white;
  border: 1px solid white;
  border-radius: 0px;
}
.rangos
{
  color: white;
  display: flex;
}


.dinamycListAdded
{
  
    align-items: center;
    margin: .5rem;
    color: white;
    font-weight: 700;
    font-size: .7em;
    display: flex;
}

.dinamycListAddedDiv
{
      display: flex;
   
    background-color: #66a5cc;
    padding: .5rem;
    align-items: center;
    margin: .5rem;
}

#project-wrapper
{
    border: 1px solid #6285b7;
    
    margin-bottom: 1em;
    width: ;
    display: flex;
    flex-direction: column;
}
.addedList
{
      flex-wrap: wrap;
    display: flex;
        justify-content: center;
}
.selecterList
{

    display: flex;
    background-color: white;
    font-size: 1.5rem;
    
    width: 100%;

}
.projectList
{
padding: .5rem;
    border: 1px solid #6285b7;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    width: 220px;

}
.projectList,.projectList:active,.projectList:hover
{
  outline: none;
}
.addElementList
{
  border: 1px solid #6285b7;
  width: 80px;
  background-color: #6285b7;
  color: white;
  display: flex;
  justify-content: center;
  /* padding-left: 15px; */
  align-items: center;
  font-size: .9em;
  cursor: pointer;
  height: 40px;
}
.addElementList:hover
{
  background-color: #6c87af;
  }

  .addElementList:active
{
  background-color: #4770ad;
  }

  .deleteDinamicallyListEl
  {
    cursor: pointer;
  }


#imgPreview {

  position: absolute;
  cursor: pointer;
}
.removeImg
{
  position: absolute;
    top: 5px;
    right: 5px;
  color: #bbbbbc;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  display: none;
  z-index: 5;
}
.removeImg.active
{

  display: block;
}

.removeImg:hover
{

  color: white;
}

.imgDiv {
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgDiv.hidden {
display: none;
}

.imgDiv [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; transition: all .1s ease;
  }


.imgDiv:hover
{
  background-color: #97b8e7;
}
.imgDiv:active
{
  transform: scale(.9);
  transition: all .1s ease;
}

/* Example stylistic flourishes */

.imgDiv {
    background: #6285b7;
}

.imgDiv [type=file] {
    cursor: pointer;
}
.imgDiv [type=file].nocursor {
    cursor: default;
}
.newImg
{
  font-size: 4em;
}
.imgWrapper
{
  display: flex;
  flex-wrap: wrap;
}

.imgFull
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 100000000000;
    display: none;
}
.imgFullBack
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 10000000000;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.closeFull
{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
.imgFullBack.active
{

    display: block;

}
.imgFull.active
{
      background-repeat: no-repeat;
    background-size: contain;
    display: block;
    background-position: center;
    /* background-attachment: fixed; */
    background-origin: content-box;
}

prango.hidden
{
  color: white;
  display: none;
}


.videoDiv [type=file],.documentDiv [type=file]  {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; transition: all .1s ease;
  }

.videoDiv,.documentDiv {
     margin-top: 1em;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    color: #333;
    background-color: #f1f0f0;
    border-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}

.videoWrapper > div > p,.documentWrapper > div > p
{
   color: #333;
}
.videoDiv:hover,.documentDiv:hover
{
background-color: #ebebeb;
}
.videoDiv:active,.documentDiv:active
{
background-color: #d4d4d4;
}

#videoPreview > p
{
  padding: 1em;
}

.documentAdded
{
align-items: center;
    height: 50px;
    color: #3e454c;
    font-size: .9em;
    border: 1px solid #c0bfbf;
    background-color: #dfe9eb;
    display: flex;
        padding-left: 1em;
    
}
.documentAdded:hover
{
  cursor: pointer;
    background-color: #d1d8da;

    
}

#videoPreview > button > span:hover
{
  cursor: pointer;
  color: black;
}

.documentAddedAdded
{
  cursor: pointer;
}









.vidFull
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 100000000000;
    display: none;
}
.vidFullBack
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 10000000000;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.closeFull
{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
.vidFullBack.active
{

    display: block;

}
.vidFull.active
{

    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.documentEL
{
  display: flex;
    margin-top: .5em;
    margin-right: .5em;
}
.xButton
{
   cursor: pointer;
  display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f18b8b;
    border: 1px solid #f57a7a;
  width: 50px;
  height: 50px;
  background-color: #f18b8b;
  border: 1px solid #f57a7a;
}
.xButton:hover
{
background-color: #f57a7a;
}

.xSymbol
{

  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(45deg);

  margin-left: 10px;
}
.xSymbol:before
{

  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(-90deg);
}


.videoThumb
{
 width: 200px;
    height: 120px;
    background-color: black;
    cursor: pointer;
}

.playVid 
{
    width: 100%;
    height: auto;
    max-height: 100%;
}   

.thumbVideoContainer
{position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
margin: .2em;
}
.thumbVideoTitle
{
    margin-top: .8em;
    color: black;
    font-size: 1em;
    line-height: 1em;
    max-height: 2.1em;
    overflow: hidden;
}

.videoDiv > p,.documentDiv > p
{
  color:black;
}
.videoWrapper
{
      display: flex;
          flex-wrap: wrap;
}


.removeVid
{
      position: absolute;
    top: 5px;
    right: 5px;
    color: #bbbbbc;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    /* display: none; */
    z-index: 5;
}
.removeVid:hover
{
color: white;
}



.documentDiv > p{
    font-size: 1.4rem !important;
    }

    #documentPreview
    {
      display: flex;
    flex-wrap: wrap;
    }


table.lastest
{
    border: 1px solid #d5d6d8;
}
/*
.mainTable h1
{
  margin: 0 auto;
  position: relative;
  width: 90%;
}*/
#showMoreRow a
{
  
  color:blue;
}

#showMoreRow 
{    text-align: right;
  color:blue;
}

#imgPreview2
{
  width: 45%;
  cursor:pointer;
}
/*
@media (min-width: 1170px)
{
  .mainTable h1
  {

    width: 970px;
  }
}
*/
#company-logo-prv
{
  border: 1px solid #e1dbdb;
  height: 100%;
}

#company-logo-cont
{
  display: flex;
  height: 60px;
}
#company-upload-cont
{
  height: 60px;
  width: 60px;
  background-color: rgb(54, 151, 216);

 
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

#company-upload-cont [type=file]
{
cursor: inherit;
display: block;
font-size: 10000px;
cursor: pointer;
position: absolute;
}


.tableDropdown2
{
  width: 100px;
    height: 30px;
  background-color: #6285b7;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
}
.tableDropdown3
{
  width: 100px;
    height: 30px;
  background-color: #8dbb8d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
}


#loading-div2
{
  background-image: url('../img/load.gif');
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.2);
  background-position: center center;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none;
}

#loading-div2.active
{
  display:block !important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
      background-image: url('../img/load.gif');
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,1);
  background-position: center center;
  background-size: 50px 50px;
}
.print.active
{
  
}

/*

.upTr
{
  text-align: center;
  background-color: #5b6d80;
}
.upTr2
{
  text-align: center;
  background-color: #63809e;
}


.upoTr
{
  
  background-color: #5b6d80;
}
.upoTr2
{
 
  background-color: #63809e;
}

.tab::before{
  content: "Gerente de tienda";
  position: absolute;
  height: 30px;
  top: -30px;
  background-color: #597591;
  padding: 10px;
  margin-left: -1.4rem;
}

.tab2::before{
  content: "JEFE DE PREVENCIÓN DE PÉRDIDAS";
  position: absolute;
  height: 30px;
  top: -30px;
  background-color: #546779;
  padding: 10px;
  margin-left: -1.4rem;
}
*/
.rangos
{
  display: none;
}

.rangos.active
{
  display: flex;
}


.tableDropdown22
{
  width: 100px;
    height: 30px;
  background-color: #f85d5d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
 
}
.tableDropdown33
{
  width: 100px;
    height: 30px;
  background-color: #8dbb8d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
 
}


.tableDropdown22:hover
{
  background-color: #ff4646;
}

.tableDropdown33
{
  background-color: #65b465;
}
.formu textarea {
    line-height: 1.5em;
    border-color: #cccccc;
    outline: none;
}



#alertDiv.active,#statusDiv.active
{
  display: flex;
}

#alertDiv,#statusDiv
{

  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  bottom:0;
  z-index: 1000000;
}
.alertContainer
{
  width: 300px;
  height: 150px;
  background-color: white;
  display: flex;
  display: flex;
  flex-direction: column;
  
}
.alertText,.alertButtons
{
  display: flex;
}
.alertText p
{
  
}

.alertText
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110px;
}
.alertText1
{color:rgb(78, 78, 78);
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
}
.alertText2
{
  color:rgb(131, 130, 130);
  margin-top: 1em;
  text-align: center;
  font-weight: 300;
  font-size: .6em;
  line-height: 1.2em;
}
.alertButtons{
  width: 300px;
  height: 40px;
}
.cancelAlert
{
  color:rgb(231, 231, 229);
  text-align: center;
  width: 200px;
  height: 100%;
  font-weight: 400;
  font-size: .7em;
  background-color: rgb(196, 84, 84);
  cursor:pointer;
}
.confirmAlert
{
  color:rgb(231, 231, 229);
  text-align: center;
  width: 200px;
  height: 100%;
  font-weight: 400;
  font-size: .7em;
  background-color: #759fb9;
  cursor:pointer;
}
.confirmAlert:hover
{
  background-color: #5c96b8;
}

.cancelAlert:hover
{
  
  background-color: rgb(202, 65, 65);

}
.otImages
{
color: #3e454c;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}

#imgPreview2 {
    width: 100%;
    height: 100% !important;
}

.hideIt
{
  display: none;
}




table.lastest thead th,table.lastest tbody td
{
   
  padding: 2rem;
  text-align: left
}

table.lastest
{
  margin: 0 auto;
  table-layout: fixed;
  position: relative;
  background-color: white;
  width: 90%;
  border-collapse: collapse;
}
    
table.lastest thead th
{
  font-size: 1.6rem;
color: white;
width: 33%;
}

table.lastest tbody td
{
   
  color: #3e454c;
}

table.lastest thead tr
{
  font-weight: bold;
  color:white;
  background-color: #8abddc;
  position: relative;
}

table.lastest tbody tr:hover
    {
      background-color: #e7ffeb;
    }

table.lastest tbody tr:nth-child(2n)
{
    background-color: #edf8fc;
}table.lastest tbody tr:nth-child(2n):hover
{
    background-color: #e7ffeb   ;
}
body
{
  background-color: white;
}

table.lastest .collapseC
{
  display: none;
}



table.lastest2
{
    border: 1px solid #d5d6d8;
}

table.lastest2 thead th,table.lastest2 tbody td
{
   
  padding: 2rem;
  text-align: left
}

table.lastest2
{
  margin: 0 auto;
  table-layout: fixed;
  position: relative;
  background-color: white;

  border-collapse: collapse;
}
    
table.lastest2 thead th
{
  font-size: 1.6rem;
color: white;
width: 33%;
}

table.lastest2 tbody td
{
   
  color: #3e454c;
}

table.lastest2 thead tr
{
  font-weight: bold;
  color:white;
  background-color: #8abddc;
  position: relative;
}

table.lastest2 tbody tr:ahover
    {
      background-color: #e7ffeb;
    }

table.lastest2 tbody tr td.green
{
    background-color: #edf8fc;
}
body
{
  background-color: white;
}

table.lastest2 .collapseC
{
  display: none;
}

.formu textarea {
    line-height: 1.5em;
    border-color: #cccccc;
    outline: none;
}


.addElementList
{
 
}
#serviceList,#technicalList,#productList,#diagnosticList
{
  border: none;
  border-bottom: 1px solid #d6e1e5;
}
#project-wrapper {
  border: 1px solid #d6e1e5;
}
.addedList {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start !important;
}


























.content{
  
  padding-top: 50px;
  display: block;
  position: absolute;
  /* margin-top: 50px; */
  word-wrap: break-word;
  color: #2c3136;
  /* overflow-x: hidden; */
  overflow-y: auto;
  padding-bottom: 0rem;
  height: 300px;
  
 }
 
 #content > div > div:nth-child(1),#content > div > div:nth-child(2)
 {
   display: flex;
   align-items: center;
   height: 100%;
 }
 .module-name {
  justify-content: space-between;
   display: flex;
   align-items: center;
   margin-top: -51px;
   overflow-y: hidden;
   position: fixed;
   z-index: 10;
   margin-bottom: 0em;

   height: 50px;
   /* margin-bottom: 2em; */
   background-color: #ffffff;
   color: rgb(68, 68, 68);
   vertical-align: center;
   line-height: 50px;
   padding-left: 1em;
   border-bottom: 1px solid #e3e6e8;
 }
 
 .fooTable, .add, .regConsult {
   margin-top: 0px;
 }
 
 body
 {
   background-color: #edf1f5;
 }
 
 .add{
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   max-width: 100%;
   width: 100%;
   padding: 15px;
 }
 
 .add legend{
   margin: 0em;
   font-weight: 400;
   border-bottom: 1px solid #cacaca;
   width: 100%;
   float: center;
   text-align: left;
   padding-bottom: 0em;
   color: #a9a9a9;
   font-size: 2rem;
   margin-top: 0em;
 
   border-color: #eff2f7;
   font-size: 13px;
   font-weight: 400;
   background: #fafafa;
   text-transform: uppercase;
   padding: 15px;
 
 
 }
 
 input, button
 {
   font-family: "Open Sans", sans-serif;
 }
 
 .save
 {
   height: 1.5em;
   padding-left: 20px;
   margin-top: 1px;
   font-size: 0.9em;
   color: rgba(0,0,0,0.5);
   margin-left: 20px;
   font-weight: 400;
   display: flex;
   /* height: 40px; */
   /* padding: 10px; */
   /* padding-top: 12px; */
   /* background-color: #38a4ce; */
   cursor: pointer;
   width:80px;
  
  
 }
 .form-panel
 {
   background-color: white;
   margin-bottom: 20px;
 }
 
 .form-panel-body
 {
   padding: 15px;
 }
 
 .name-module {
   
   align-items: center;
   padding-left: 3rem;
   font-size: 1.2rem;
   vertical-align: center;
   line-height: 50px;
   color: rgba(0,0,0,0.5);
 }
 
 #icon-module-customer
 {
   color: rgba(0,0,0,0.5);
   font-size: 1.8rem;
 }
 
 .breadcumb
 {
 margin-right:30px;
 display: flex;
 }
 .breadcumb > li{
   
  
 }
 .breadcumb > li:nth-child(1) > a
 {
   float:right;
 }
 .breadcumb > li > a
 {    font-size: .9em;
   color: rgba(0,0,0,0.5);
 }
 .breadcumb > li > a:hover
 {
   color: rgba(0,0,0,1);
 }
 
 .breadcumb > li > a.selected
 {
   
 }
 
 .breadcumb > li > a:before
 {
   padding: 0 5px;
   content:"/\00a0";
   color: rgba(0,0,0,0.5);
 }
 
 .breadcumb > li:first-child > a:before
 {
   
   content:"";
   color: rgba(0,0,0,0.5);
 }
 
 .breadcumb > li:last-child > a
 {
   
   content:"";
   color:rgb(77, 154, 218);
   pointer-events: disabled;
   cursor: default;
 }
 
 .save-div:hover .save
 {
   display: flex;
   color:rgb(77, 154, 218) !important;
   cursor:pointer;
   
 }
 
 .save-div:hover .icon-save
 {
   display: flex;
   color:rgb(77, 154, 218) !important;
   cursor:pointer;
 
 }
 
 .icon-save:hover
 {
   color:rgb(77, 154, 218);
 }
 
 .icon-save
 {
   
   position: absolute !important;
   margin-left: 22px;
   color: rgba(0,0,0,0.5);
   position: absolute;
   /* right: 0.75em; */
   font-size: .9em !important;
 }
 .icon-save.active,.save.active
 {
   
   
   color:white;
 
 }
 
 
 .save-div
 {
   height: 100%;
   display: flex;
   align-items: center;
   padding-right: 20px;
   margin-top: 2px;
 }
 
 .print.active
 {
   color:white;
 }
 
 
 .save:focus {
   outline: none;
   background-color: /* some darker colour than the original colour */;
 }
 
 .printOptions {
  
   right: 0px;
 }
 
 
 .printOptions.active {
   margin-top: 49px;
   z-index: 5000;
   display: inline-block;
   position: fixed;
   border-bottom: #e9e6e6;
 
 }
 
 
 .adhb,.printOptions > li {
   background-color: #444c54;
 }
 
 .printOptions > li > a
 {
   background-color: #3a4148;
 }
 
 .hideColumn.not-active {
   background-color: #444c54;
 }
 
 .save-div.active {
   background-color: #444c54;
 }
 
 .save-div.hidden
 {
   display: none;
 }
 
 #branchOffice-content-table
 {
 

 }
 
 .module-customer-name
 {
   display: 	none;
 }
 
 .print-button
 {
   display:none;
 }

 .fooTable, .add, .regConsult {
  padding-top: 1em;
}


.rangos
{
  display: none;
}

.rangos.active
{
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}
.rangos div
{
  display: flex;
}
#to
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e1e5;
  color: #5d5b5b;
  padding: .5em;
  font-size: .8em;
}
prango > label
{
margin-top: 10px;
display: block;
color: #364347;
font-size: 1.3rem;
font-weight: 700;
clear: both;}



#fini:hover,#ffin:hover
{
border-color: rgba(29,130,179,0.5);
}
#fini,#ffin
{
  display: inline-block;
  width: 100%;
  border: 1px solid #d6e1e5;
  color: #364347;
  background-color: white;
  font-size: 1.5rem;
  padding: 1rem;
  /* margin-left: 5%; */
  height: 40px;
  width: 15em;
}
prango
{
  color: rgb(39, 38, 38);
}


.save-div > span
{
  padding-top:3px;
}


.advanced-modal
{
  margin-top: calc(53px + 1em);
  z-index: 5000;
  display: inline-block;
  position: fixed;
  border-bottom: #e9e6e6;
  right:0px;
  background-color: #444c54;
  padding-bottom:1em;
  padding-right:1em;
  display:none;
}
.advanced-modal.active
{
  display:flex;
}
.advanced-modal > prango > label
{
 
  color: #cccccc;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
  font-size: .8em;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-div > span
{
  padding-top:3px;
}

.icon-save.active:hover,.save.active:hover
{
  
  
  color:white;

}




table.dataTable
{
  font-size: .7em;
  
}
table.dataTable thead th, table.dataTable thead td {
  padding: 15px 14px;
  /* border-bottom: 1px solid #111; */
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
table.dataTable thead th:first-child, table.dataTable thead td:first-child
{
  border-left: 1px solid #ddd;
}
#branchOffice-content-table-thead > tr:nth-child(1) > th:nth-child(4)
{
  border-left: 1px solid #ddd;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #ddd !important;
}
table.dataTable
{
  color:black;
}

table.dataTable tfoot th, table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #ddd !important;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 4px 8px;
}

table.dataTable thead th { white-space: nowrap; }


.tableWrapper
{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
  /* max-width: 100%; */
  /* width: 100%; */
  padding: 15px;
  margin-top: 0px;
}
.tablePanel
{
  background-color: white;
  margin-bottom: 20px;
}
.tableWrapperBody
{
  padding: 15px;
}
.tableWrapper legend {
  margin: 0em;
  font-weight: 400;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  float: center;
  text-align: left;
  padding-bottom: 0em;
  color: #a9a9a9;
  font-size: 2rem;
  margin-top: 0em;
  border-color: #eff2f7;
  font-size: 13px;
  font-weight: 400;
  background: #fafafa;
  text-transform: uppercase;
  padding: 15px;
}

.fooTable {
  padding-left: 0em;
  padding-right: 15px;
  padding-top: 0em;
  margin-top: 0em;
  /* max-width: 95%; */
  /* margin: 0 auto; */
  width: 100%;
  display: flex;
}

.deleteDinamicallyListEl::before {
    color: #ffffff;
    content: "\f00d";
    font-family: "FontAwesome";
}



.addElementList
{
  border: 1px solid #6285b7;
  width: 80px;
  background-color: #6285b7;
  color: white;
  display: flex;
  justify-content: center;
  /* padding-left: 15px; */
  align-items: center;
  font-size: .9em;
  cursor: pointer;
  height: 40px;
}
.addElementList:hover
{
  background-color: #6c87af;
  }

  .addElementList:active
{
  background-color: #4770ad;
  }

  .deleteDinamicallyListEl
  {

    cursor: pointer;
  }
  .deleteDinamicallyListEl::before{
    color: #ffffff;
    content: "\f00d";
    font-family: "FontAwesome";
  }