* {
        /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}
#logo-figure.printOptions,.dataTables_paginate,.dataTables_length,.dataTables_info
{
  display: none;
}
#logo-container2
{
  display: none;
}


*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
margin: auto;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
font-weight: 300;
color:white;
    display: block;
    height: 100vh;



}


body::after {
  clear: both;
  content: "";
  display: table;
}
.page-header
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #3e454c;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.page-header.right
{
      -webkit-transform: translateX(calc(100% - 60px));
  -moz-transform: translateX(calc(100% - 60px));
  -ms-transform: translateX(calc(100% - 60px));
  -o-transform: translateX(calc(100% - 60px));
  transform: translateX(calc(100% - 60px));
}
.logo { 
    height: 60px;
    position: relative;
    vertical-align: center;
    width: 215px;
    display: block;
    padding-top: 10px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
a
{
  text-decoration: none;
}

#logoImg
{
  height: 40px;
}
#logoImg.hidden
{

  display:none;
}

.page-header-trigger
{
  float: left;
  position: relative;
  display: block;
  width: 2em;
  height: 60px;
  margin-left:0.5em;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  cursor: pointer;
}

.page-header-trigger span, .page-header-trigger span::before, .page-header-trigger span::after {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
  cursor: pointer;
}

/*.page-header-trigger.clicked span {

height: 0px;

}
.page-header-trigger.clicked span::before{
    -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
 
  margin-top:10px;
}
.page-header-trigger.clicked span::after{
-webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
#logoo
{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 14px;
}
.logoCapas
{
  margin-left: 1em;
  width: 32px;
  height: 32px;
  cursor:pointer;
}
#capa1
{
  position:absolute;
  }
#capa2
{
  position:absolute;
    -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#capa2.rotate
{
-webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#capa3.rotate
{
-webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
#capa3
{
  position:absolute;
    -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#capa4.rotate
{
-webkit-transform: rotate(+150deg);
  -moz-transform: rotate(+150deg);
  -ms-transform: rotate(+150deg);
  -o-transform: rotate(+150deg);
  transform: rotate(+150deg);
}
#capa4
{
  position:absolute;
    -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}*/



.page-header-trigger span {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.page-header-trigger span::before, .page-header-trigger span::after {
  content: '';
  right: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.page-header-trigger span::before {
  top: -6px;
}
.page-header-trigger span::after {
  top: 6px;
}
.page-header-trigger.nav-is-visible span {
  background: rgba(255, 255, 255, 0);
}
.page-header-trigger.nav-is-visible span::before, ..page-header-trigger.nav-is-visible span::after {
  background: white;
}


.page-search {
  z-index: -1;
  top:0;
  width: calc(100% - 3em);
  position: absolute;
  text-align: center;
  vertical-align: center;
  line-height: 60px;
  right: 0.5mm;

}

.page-search::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-search.svg) no-repeat 0 -16px;
  cursor:pointer;
}
#search-input{
  color:white;
  visibility:hidden;
  padding-right: 32px;
  padding-left: 1em;
  width: 100%;
  height: 40px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #3e454c;
  font-size: 1.8rem;
}

#search-input::-webkit-search-cancel-button{
display:none;
}

#search-input.visible
{
  visibility:visible;
}
.page-search input:focus {
  outline: none;
}
.page-search
{

}


/*.left-nav
{
  padding-left: 60px;
  display: inline-block;
  overflow-y: scroll;
  z-index: 1;
  left: -100%;
  background-color: #2c3136;
  height: 100vh;
  position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  position: relative;
  float: left;
  top: 0px;
  width: 100%;

  font-size: 0.1rem;
  

}*/
.left-nav
{
  left: -100%;
  padding-left: 60px;
  display: inline-block;
  position: fixed;
  top:0px;
  width:100%;
  z-index: 1;
  background-color: #2c3136;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
  overflow-y:auto
  min-height:50vh;
  height:100vh;
  max-height:100vh;
  float: left;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


.left-nav.visible {
  -webkit-overflow-scrolling: touch;
  max-height: none;
  -webkit-transform: translateX(calc(100% - 60px));
  -moz-transform: translateX(calc(100% - 60px));
  -ms-transform: translateX(calc(100% - 60px));
  -o-transform: translateX(calc(100% - 60px));
  transform: translateX(calc(100% - 60px));
  min-height:100vh;
  height:100vh;
  max-height:100vh;
}

#userPanel
{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 2;
   background: #3e454c;
   top:0;


}
#separator
{
  width: 100%;
  height: 60px;
  
   background: #3e454c;

}
#userPanelInput
{
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 1em;
   top:10px;

}
.userinfo
{

  margin-top: 2px;
  background-color: rgba(0,0,0,0);
  border:none;
  width: 70%;
}
#username
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .0em;
    text-align: left;
    color:white;
}
#position
{
    font-size: 1.2rem;
    letter-spacing: .0em;
    text-align: left;
    color:white;
}
#userImg{
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  margin-right: 5px;
}

.left-nav > ul {
  padding: 0.6em 0;
}
.left-nav > ul:last-of-type {
  padding-bottom: 0;
}
.left-nav .label, .left-nav a {
  display: block;
  padding: 1em 5%;
}
.left-nav .label, .left-nav b {
  display: block;
  padding: 1em 5%;
}
.left-nav .label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 2.2rem;
  letter-spacing: .0em;
  text-align:left;

}
.left-nav a {
  position: relative;
  color: #ffffff;
  font-size: 2rem;
    font-family: "Open Sans", sans-serif;
font-weight: 300;
}
.left-nav b {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
font-weight: 300;
}


.left-nav > ul > li > a {
  padding-left: calc(5% + 32px);
}
.left-nav > ul > li > b {
  padding-left: calc(5% + 32px);
}


.left-nav > ul > li > a:hover {
  background-color: #3e454c;
}
.left-nav > ul > li > b:hover {
  background-color: #3e454c;
  cursor: pointer;
}

.fa:hover + a{
  background-color: #3e454c;
}
.fa:hover + b{
  background-color: #3e454c;
}

  .left-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
.menu-list
{

}
.icon [class*="ss-"],
.icon [class*="fa-"] {
  margin-left: 60px;
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  left: 1em;
  margin-top: 17px;
  color: #b2c6cd;
  width: 20px;
  margin-right: 1em;
  cursor: pointer;
}


.content {
  display: block;
  position: absolute;
  margin-top: 60px;
  word-wrap: break-word;
width: 100%;
 
  color: #2c3136;/*
  overflow-x: auto;
  overflow-y:auto;*/
}
li.submenu{display:none}

.fa-nav .active + content{
  overflow-y: hidden;
}



h3
{
  color:white;
  font-size: 2rem;
  display:inline-block;
}
.new-data
{
  /*background-color: #1d82a9;*/
  color:white;
  position: relative;
  font-size: 1.2rem;
  vertical-align: middle;
  display: inline-block;
  float: right;
  height: 100%;
  width: 50px;


}
.filter-customer-button
{
  /*background-color: #1d82a9;*/
  color:white;
  position: relative;
  font-size:1.5rem;
  vertical-align: middle;
  display: inline-block;
  float: right;
  height: 100%;
  padding-left:3.5rem;
  padding-right: 1rem;

}
.filter-customer-button-li
{
  /*background-color: #1d82a9;*/
  color:white;
  position: relative;
  font-size:1.5rem;
  vertical-align: middle;
  display: inline-block;
  float: right;
  height: 100%;
}
.filter-customer-button > ul
{
  margin-top: 2em; 
}

#icon-module-customer
{
  /*background-color: #1d82a9;*/
  color:white;
  position: absolute;
  font-size: 3rem;
  left: 20px;
  z-index: 0;


}
.name-module
{
  padding-left: 4rem;
  font-size: 1.5rem;
  vertical-align: center;
  line-height: 50px;
  color: white;

}

 #new-customer-form input[type="text"]:disabled 
 {
    background-color: #d6e1e5;
}
#icon-body-filter-customer
{
  position: absolute;
  left: 10px;
font-size: 2rem;
z-index: 0;
}

#icon-body-add-customer
{
  position: absolute;
  right: 0.75em;
font-size: 2rem;
}


.icon-list [class*="ss-"], .icon-list [class*="fa-"] {

    
    
    position: absolute;
    z-index: 1;
    color: white;
    cursor: pointer;
      top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}




.formu input[type="text"], .formu input[type="email"],.formu input[type="date"],.formu input[type="number"]
{
    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
   /* margin-left: 5%;*/
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
}

.new-customer-trigger
{
  cursor: pointer;
}

.formu select {



    white-space: nowrap;
     border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
   /* margin-left: 5%;*/
    margin-top: 0em;
    width: 100%;
        height: 5rem;
}

#new-ot-form select {


background-color: red;
    white-space: nowrap;
     border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
   /* margin-left: 5%;*/
    margin-top: 0em;
    margin-bottom: 0em;
    width: 100%;
        height: 5rem;
}

#new-customer-form select option
{
  background-color: white;
   padding: 1rem;
   font-size: 2rem;
   color:#364347;
}
#new-customer-form select option:hover
{
  background-color: #1d82a9;
}

#new-customer-form input[type="text"]:focus,#new-customer-form input[type="email"]:focus
{
  border-color: rgba(29,130,179,0.5);
  outline: none;
}
#new-customer-form select:focus
{
  border-color: rgba(29,130,179,0.5);
  outline: none;
}

#new-customer-form .label-form
{
display:none;
}

.save-data
{
  background-color: #1d82a9;
  width: 100px;
  height:40px;
  color: white;
  text-align: center;
  line-height: 40px;
  /*margin-left:5%;*/
  font-size: 1.3rem;
  /*margin-top: 2em;*/
  margin-bottom: 0px;
  position: relative;
  float:right;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;

}

#new-customer-form .form-radio
{
  margin:0;
  padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width: 50%;
  color: #364347;
  height: 50px;
  background-color: #3e454c;

}
#form-radio2
{
  float:left;
}


.form-radio:checked {
  border: 25px solid white ;
    outline: none;
  
}
.form-radio{


}
.form-radio:hover{
 
  outline: ;

}
#radio-label1
{
  font-size: 1.8rem;
  color:#a9a9b6;
  top:50px;
  line-height: 50px;
  vertical-align: 50px;
  text-align: center;
  position: absolute;
  height: 50px;
  width: 50%; /* Need a specific value to work */
  right:0;
  display: block;
  z-index: 0;
}

#radio-label2
{
  font-size: 1.8rem;
  color:#a9a9b6;
  top:50px;
  line-height: 50px;
  vertical-align: 50px;
  text-align: center;
  position: absolute;
  height: 50px;
  width: 50%; /* Need a specific value to work */
  left: 0;
  display: block;
  z-index: 0;
}
.radio-label.active
{
  color:#364347;
}
a
{
  color:white;
}

.filter-customer-list
{
  display: block;

  background-color: #3e454c;



}
.filter-customer-button-li
{
background-color: #3e454c;
}

.filter-customer-button-li.active
{
background-color: #2c3136;
}

.filter-customer-button-li > ul
{
  position: absolute;
  margin-top:50px;
  width:;
  background-color: #2c3136;
  z-index: 2;

}

.filter-customer-button-li > ul > li:hover
{
  background-color: #3e454c;
}

.filter-customer-button-li > ul > li
{
  padding-left: 3.5rem;
  padding-right: 1rem;
  cursor: pointer;
}

.icona.active {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }


.filter-icon
{
  position: absolute;
  margin-left: 0px;
  color:red;
}

.icona [class*="ss-"],
.icona [class*="fa-"] {
  font-size: 1.8rem;
  position: absolute;
  z-index: 1;
  left: 0.5em;
  margin-top: 9px;
  color: #b2c6cd;
  width: 20px;
  cursor: pointer;
 margin-top:15px;
}

#show-filter
{
  display:none;
}

#show-filter.visible
{
  display:block;
}
.filter-customer-trigger
{
  cursor: pointer;
}

.exist-data
{
  font-size: 1.2rem;
  width: 49%;
  display: inline-block;
  color:#3e454c;
}

.exist-data:focus
{
  outline: none;
}
.label-data
{  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  color:#3e454c;
}

.label-table
{
 font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  display: inline-block;
  color:#3e454c;
  color:white;
}


.t1
{
  width: 30%;
}
.t2
{
  width: 100em;
}

.table-info
{
  border-top: 1px solid white;
  width: 100%;
  float: center;
  background-color: white;
}

.table-info tr, .table-info td
{
  vertical-align: top;
  padding: 1.5rem;
  top:0px;
}
.table-info tbody tr:not(:last-child)
{
 
  border-bottom: 1px solid white;
}

.table-info td:nth-of-type(1)
{
  text-transform: ;
  width: 40%;

font-weight: bold;
   color:white;
}

.table-info head td:not(:first-child)
{
 
  width: 30%;
}

.exist-data
{
  width: 100%;
}
.table-info thead
{padding: 1rem;
  background-color: #3e454c;
  text-align: center;
  width: 100vw;

 }
.table-info tbody.hidden
{
  display: none;
  width: 100%;
}



.search-data-input
{
  color: #3e454c;
  background-color: white;
  font-size: 1rem;
  padding:.2rem;
  width: 50%;
  border: 1px solid white;

  
  font-weight: 200  ;
}
.search-data-input:focus
{
  outline: none;
}
.search-data-button
{
  font-size: .8rem;
  padding:.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #0083ac;
  color:white;
  cursor: pointer;
  margin-left: 1rem;
  float: right;
}

.search-data-button:active
{
    background-color: #086c8b;
}

#send-account-form input[type="text"]
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#send-account-form input[type="text"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }

#new-req-form input[type="text"], #new-req-form input[type="date"],#new-req-form select
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#new-req-form input[type="text"]:focus, #new-req-form input[type="date"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }
#new-req-form.visible
{
  display: block
}
#new-req-form
{
  
}

#new-ot-form.visible
{
  display: block
}
#new-ot-form
{

}
#req-info.visible
{
  display: block
}
#req-info
{
  display: none
}


  fieldset
  {
    margin-left: 5%;
    border-bottom: 1px solid #364347;
    width: 90%;
    text-align: center;
    color:  #364347;
    text-transform: uppercase;
  }


.btn-form
{
  background-color: #1d82a9;
  width: 100px;
  height:40px;
  color: white;
  text-align: center;
  line-height: 40px;
  /*margin-left:5%;*/
  font-size: 1.3rem;
  /*margin-top: 2em;*/
  margin-bottom: 0px;
  position: relative;
  float:right;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.btn-form:active
{
    background-color: #086c8b;
}

#open-form-req:active
{
    background-color: #086c8b;
}

.add.hidden
{
  display:none;
}


input[type="checkbox"]{
    display: none;
    border: none !important;
    box-shadow: none !important;
}

input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    background: url(../img/uncheck.png)  no-repeat ;
      background-size: 4rem 4rem;
}

input[type="checkbox"]:checked + label span {
    background: url(../img/check.png)  no-repeat ;
    content: '\f14a';
    color: #fff;
    vertical-align: middle;
    width: 4rem;
    height:4rem;
    background-size: 4rem 4rem;
}
legend
{
      line-height: 1em;
  margin: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #cacaca;
  width: calc(100% - 2rem);
  float: center;
  text-align: left;
    padding-bottom:   1rem;
    color:  #3e454c;
    font-size:  2rem;
}

.label-check,#new-ot-form .label-form
{
  font-size:  1.5rem;
  color: #3e454c;

}
.hide-phone
{
  display:none;
}
.new-ot
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#new-ot-form input[type="text"]:focus, #new-ot-form input[type="date"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }
.new-ot-instalacion
{
    border-bottom: 1px solid #d6e1e5;
    border-left: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: calc(100% - 3.5rem);
    margin-left: 3.5rem;
    height: 5rem;
    margin-top: -.5rem
}
#new-req-form textarea,
  #new-ot-form textarea

{    border: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 95%;
    height: 10rem;
    margin-left: 2.5%;
  }
#new-req-form textarea,
#new-ot-form textarea
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }




  #new-cat-form input[type="text"]
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#new-cat-form input[type="text"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }

#new-cat-form textarea
{
  border: 1px solid #d6e1e5;
  color: #364347;
  background-color: white;
  font-size: 2rem;
  padding: 1rem;
  /* margin-left: 5%; */
  margin-top: 1rem;
  width: 95%;
  height: 10rem;
  margin-left: 2.5%;
}

#new-cat-form textarea
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }


#new-cat-form .label-form
{
  display: none;
}

  #new-user-form input[type="text"],  #new-user-form input[type="password"]
{    border-bottom: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 100%;
    height: 5rem;
  }

#new-user-form input[type="text"]:focus, #new-user-form input[type="password"]:focus
{    border-color: rgba(29,130,179,0.5);
  outline: none;

  }

  #new-user-form .label-form
{
  display: none;
}

.error
{
 box-shadow: 0 0 1px 1px red inset;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 5rem;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
border: 1px solid #d6e1e5;
    color: #364347;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 1.5rem;
    /* margin-left: 5%; */
    margin-top: 0.2em;
    width: 95%;
    margin-left: 2.5%;
    height: 5rem;
        text-align: center;
}
#previewImg,#previewDoc,#previewVideo
{
    background-color: #d6e1e5;
    width: 95%;
    margin-left: 2.5%;
}

.fileContainer [type=file] {
    cursor: pointer;
}

#file-label
{
  width: 100%;
  height: 100%;
  color: #364347;
    background-color: white;
    font-size: 2rem;

}


.fooTable {
  display: block;
      border: 0;
      color:#3e454c;
    }

    .fooTable thead {
      display: none;
    }

    .fooTable tr {   color:#3e454c;
      margin-top: 1px;
        width: 100vw;
    height: 6rem;
    display: block;

    word-wrap: break-word;
  background-color: white;
    overflow: hidden;
    }

    .fooTable td {

   color:#3e454c;
      display: block;
      text-align: right;
      font-size: 1.2rem;
      padding: 2rem;
      min-height: 6rem;

    }
    .fooTable td:nth-child(2n)
{
    background-color: #edf8fc;
}
.table-info tbody tr:nth-child(2n)
{
    background-color: #edf8fc;
}
.table-info tbody tr:hover
    {
      background-color: #e7ffeb;
    }
    .fooTable td:hover
    {
      background-color: #e7ffeb;
    }

    .fooTable td:last-child {
      border-bottom: 0;
    }

    .fooTable td:before {

      margin-right: 3em;
      content: attr(data-label);
      float: left;
      text-align: left;
      text-transform: uppercase;
      font-weight: ;
      font-size: 1.2rem;color:#3e454c;

    }

   /* .fooTable td:first-child:after {

content : "";
float: left;
margin-top:2.5rem;
  height  : 1px;
  width   : 50%; 
  border-bottom:1px solid magenta;

    }*/

  .fooTable td:first-child {
    font-size: 1.2rem;
    color:white;
height: 6rem;
background-color: #5f6164;
background-color: #5f6164 !important;
cursor: pointer;
text-align: right;
  }
    .fooTable td:first-child:before {
      color:white;
    }

.fooTable.hidden
{
  display:none;
}




.message-box
{
  box-shadow: 0;
  height: 50px;
  width: 100vw;
  position: fixed;
  text-align: center;
  vertical-align: center;
  bottom:-50px;
  border: none;
    transition: bottom 1s;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;


}
.message
{ 
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color:white;
  font-size: 1.7rem;
  font-weight: 300;
  width: 100vw;
  text-align: center;
  border:none;


}
.message-box.Error
{

  background-color: rgba(204,1,1,1.8);
  bottom:0;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;

}
.message-box.Exito
{

  background-color: rgba(107,189,110,0.8);
  bottom:0;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.message-box.Aviso
{

  background-color: rgba(0,157,205,0.8);

  bottom:0;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.6s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.a
{
  width: 100px;
  height: 50px;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}


strong
{
  color: white;
  font-weight: 700;
}

h1 
{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #3e454c;
}
p
{
  color: #3e454c;
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#lastest-label
{
  margin-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
#lastest-label2
{
    line-height: 120%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
table.lastest thead th,table.lastest tbody td
{
   
  padding: 2rem;
  text-align: left
}
table.lastest
{
  table-layout: fixed;
  position: relative;
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}
    
table.lastest thead th
{
  font-size: 1.6rem;
color: white;
width: 33%;
}

table.lastest tbody td
{
   
  color: #3e454c;
}

table.lastest thead tr
{
  font-weight: bold;
  color:white;
  background-color: #8abddc;
  position: relative;
}

table.lastest tbody tr:hover
    {
      background-color: #e7ffeb;
    }

table.lastest tbody tr:nth-child(2n)
{
    background-color: #edf8fc;
}table.lastest tbody tr:nth-child(2n):hover
{
    background-color: #e7ffeb   ;
}
body
{
  background-color: white;
}

table.lastest .collapseC
{
  display: none;
}

/*#main-content-table-thead.is-fixed
{
  width: 100%;
  position:fixed;
  top:60px;
}
*/

.actions
{
  font-size: .8rem;
  padding:.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #0083ac;
  color:white;
  cursor: pointer;
  margin-left: 1rem;
  width: 8rem;
  height: 3rem;
  text-align: center;
}

.actions:active
{
    background-color: #086c8b;
}


.dataImg
{
  width: 90%;
}

#imageShow,#videoShow,#documentShow
{
    background-color: #3e454c;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    color:blue;
}

#imageShow img
{
  margin-top: 1em;
  margin-bottom: 1em;
}
#videoShow video
{
  margin-top: 1em;
  margin-bottom: 1em;
}
#documentShow a
{
  display: block;
  padding: 1rem;
  height: 1em;
  margin-bottom: 3em;
  float: left;
  text-align: left;
  color:blue;
}

video 
{
    width: 100%;
    height: auto;
    max-height: 100%;
}    
.table-action [class*="ss-"],
.table-action [class*="fa-"] {
  font-size: 3rem;
  z-index: 1;
  width: 30px;
  cursor: pointer;
  color: #3e454c;
}
.table-action
{
  margin-left: 15px;
  display: inline-block;
position: relative;

         
}

.icon-action-container
{  display: inline-block;

 
}

#new-req-form label,.printSection,.dataTables_length,.dataTables_info
{
    display: none;
}
.dataTables_filter
{
  transform: translateX(-5000px);
  position: fixed;
}


.tableDropdown
{
  width: 80px;
    height: 29px;
  background-color: #6285b7;
  color: white;
  display: flex;
  /* justify-content: center; */
  padding-left: 15px;
  align-items: center;
  font-size: .9em;
  cursor: pointer;display: none;
}

.tableDropdown:hover
{

    background-color: #6f96cd;

}
.tableDropdown:focus
{

    background-color: #4e6f9e;

}

.tableDropdown::after {
    border-color: #FFFFFF transparent transparent transparent;
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    /* top: 50%; */
    width: 0;
    border-width: 0.33333rem;
    margin-left: 44px;
    margin-top: -8px;
    border-color: #FFFFFF transparent transparent transparent;
  }

.dropdownButtonList
{
justify-content: flex-end;
    display: flex;
    /* border: 1px solid #5f5b5b; */
    margin: 1px;
    /* position: absolute; */
    /* background-color: #2c3136; */
    color: white;
    z-index: 30;
    /* width: 90px; */
    margin-left: -5px;
    /* display: block; */
    
}
.dropdownButtonList.active
{
       
    
}

.dropdownButtonList li
{
    padding: 1rem;
    margin-left: 1em;
    background-color: #2c3136;
    width: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.dropdownButtonList li:hover
{
      padding: 1rem;
      background-color: #3e454c;
}
.dropdownButtonList li a
{
      color:white;
      font-size: .8em;
      font-weight: 200;
}


.dropdownButtonList.active.last
{
  margin-top:-110px;
}
.dropdownButtonList.active.last:before
{
      transform: rotate(180deg);
  margin-top: 82px;
}

.dropdownButtonList li
{
  cursor: pointer;
}


.recibos,.print,.printNoww,.label-form
{
  display: none;
}



















.regPrev
{
    overflow-x: hidden;
    width: 100%;
    /* padding: 1em; */
    overflow-y: hidden;
    margin-top: 2em;
    /* max-width: 70%; */
    margin: 0 auto;
}
.regOverview-thead-table
{

}
.regOverview-table
{
     width: 100%;
}
.regOverview-table thead
{
  background-color: #6f7e95;
}

.regOverview-table thead
{
  background-color: #6f7e95;



}

.regOverview-table thead tr th
{
color:white;
font-weight: 700;
font-size: 1.2em;
padding: 1em;
}

.regOverview-table tbody > tr
{
  border-bottom: 1px solid rgba(111,126,149,0.1);
 
}
.regOverview-table tbody > tr > td:nth-child(1)
{
  font-weight: 400;
  font-size: 1em;
  padding: 1.5em;
  width: 100%;
}
.regOverview-table tbody > tr > td
{    word-wrap: break-word;
    width: 100%;
    word-break: break-word;
}

.regOverview-table > tbody > tr > td:nth-child(1)
{
  color: #3e454c;
  font-weight: 700;
}
.regOverview-table > tbody > tr > td:nth-child(2)
{
  color: #3e454c;
  font-weight: 400;
}
.regOverview-table > tbody 
{
  
}
.regOverview-table > tbody 
{
  
border: 1px solid rgba(111,126,149,0.1);

}

.regOverview-table > thead:nth-child(1)
{
  background-color: #6f7e95;
}
.regPrev > table:nth-child(1) > thead:nth-child(1)
 { background-color: #3e454c;}
.regOverview-table > thead:nth-child(1) > tr > th:nth-child(2)
{
  text-align: right;
}

.regOverview-table > tbody > tr > td > p
{

  color: #3e454c;
  font-weight: 400;
  line-height: 1.4em;
  padding-right: 1em;
  padding-left: 1em;
  margin: .5em;
  font-size: 1.3rem !important;
}

.regOverview-table:nth-child(1) > tbody > tr > td,.regOverview-table:nth-child(2) > tbody > tr > td
{

    flex-wrap: wrap;
    justify-content: space-between;

}


.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th > p:nth-child(1)
{
    color: white;
    font-weight: 700;
    font-size: .8em;
}


.regOverview-table:nth-child(3) > tbody > tr > td > a
{
  color: #3e454c;
    font-weight: 400;
    line-height: 1.4em;
    padding-right: 1em;
}
.otImages
{
border:1px solid rgba(111,126,149,0.1);}

.otImages > img
{
  width: 45%;
  padding: 1em;
  
}

.otVideos
{
  border:1px solid rgba(111,126,149,0.1);
 
}

.regConsult.hidden
{
  display:none;
}

.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th
{

}


.req_status
{
 
word-wrap: normal;
    font-size: 1.2rem;
    color: #3e454c;
}

.req_status > option
{
  word-wrap: normal;
    font-size: 1.2rem;
    color: #3e454c;
   
}

.regOverview-table > tbody > tr > td:nth-child(2) > p
{

}
#ot-main-thead > tr > th:nth-child(2) > p
{
  text-align: right;
}

.regOverview-table > tbody > tr > td > a
{
  color: #6f7e95;
}


.regOverview-table thead {
     border-top: 1px solid white;
    }

    .regOverview-table tr { 
    color: #3e454c;
    margin-top: 1px;
    width: 100vw;
    display: block;
    word-wrap: break-word;
    /* background-color: white; */
    overflow: hidden;
    }
    .regOverview-table > tbody > tr:nth-child(10),.printNowOt
    {
      display: none;
    }

    .regOverview-table td {

   color:#3e454c;
      display: block;
     
      font-size: 1.2rem;
      padding: 2rem;
      min-height: 6rem;

    }
.regOverview-table td:before {

      margin-right: 3em;
      content: attr(data-label);
      float: left;
      text-align: left;
      text-transform: uppercase;
      font-weight: ;
      font-size: 1.2rem;color:#3e454c;

    }

    #fini,#ffin,prango
    {
      display: none;
    }

    #logo-figure
    {
      display: none;
    }












    
.dinamycListAdded
{
  
    align-items: center;
    margin: .5rem;
    color: #3e454c;
    font-size: .7em;
    display: flex;
}

.dinamycListAddedDiv
{
      display: flex;
    border: 1px solid #c0bfbf;
    background-color: #dfe9eb;
    padding: .5rem;
    align-items: center;
    margin: .5rem;
}

#project-wrapper
{
    border: 1px solid #6285b7;
    
    margin-bottom: 1em;
    width: ;
    display: flex;
    flex-direction: column;
}
.addedList
{
      flex-wrap: wrap;
    display: flex;
        justify-content: center;
}
.selecterList
{

    display: flex;
    background-color: white;
    font-size: 1.5rem;
    
    width: 100%;

}
.projectList
{
padding: .5rem;
    border: 1px solid #6285b7;
    color: #364347;
    background-color: white;
    font-size: 1.5rem;
    width: 220px;

}
.projectList,.projectList:active,.projectList:hover
{
  outline: none;
}
.addElementList
{
  border: 1px solid #6285b7;
  width: 80px;
  background-color: #6285b7;
  color: white;
  display: flex;
  justify-content: center;
  /* padding-left: 15px; */
  align-items: center;
  font-size: .9em;
  cursor: pointer;
  height: 5rem;
}
.addElementList:hover
{
  background-color: #6c87af;
  }

  .addElementList:active
{
  background-color: #4770ad;
  }

  .deleteDinamicallyListEl
  {
    cursor: pointer;
  }


#imgPreview {

  position: absolute;
  cursor: pointer;
}
.removeImg
{
  position: absolute;
    top: 5px;
    right: 5px;
  color: #bbbbbc;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  display: none;
 
}
.removeImg.active
{

  display: block;
}

.removeImg:hover
{

  color: white;
}

.imgDiv {
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2em;
}
.imgDiv.hidden {
display: none;
}

.imgDiv [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; transition: all .1s ease;
  }


.imgDiv:hover
{
  background-color: #97b8e7;
}
.imgDiv:active
{
  transform: scale(.9);
  transition: all .1s ease;
}

/* Example stylistic flourishes */

.imgDiv {
    background: #6285b7;
}

.imgDiv [type=file] {
    cursor: pointer;
}
.imgDiv [type=file].nocursor {
    cursor: default;
}
.newImg
{
  font-size: 4em;
}
.imgWrapper
{
  display: flex;
  flex-wrap: wrap;
}

.imgFull
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 100000000000;
    display: none;
}
.imgFullBack
{
  
    position: fixed;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 10000000000;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.closeFull
{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
.imgFullBack.active
{

    display: block;

}
.imgFull.active
{
      position: fixed;
      background-repeat: no-repeat;
    background-size: contain;
    display: block;
    background-position: center;
    /* background-attachment: fixed; */
    background-origin: content-box;
}

prango.hidden
{
  color: white;
  display: none;
}


.videoDiv [type=file],.documentDiv [type=file]  {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; transition: all .1s ease;
  }

.videoDiv,.documentDiv {
     margin-top: 1em;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    color: #333;
    background-color: #f1f0f0;
    border-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}

.videoWrapper > div > p,.documentWrapper > div > p
{
   color: #333;
}
.videoDiv:hover,.documentDiv:hover
{
background-color: #ebebeb;
}
.videoDiv:active,.documentDiv:active
{
background-color: #d4d4d4;
}

#videoPreview > p
{
  padding: 1em;
}

.documentAdded
{
align-items: center;
    height: 50px;
    color: #3e454c;
    font-size: .9em;
    border: 1px solid #c0bfbf;
    background-color: #dfe9eb;
    display: flex;
        padding-left: 1em;
    
}
.documentAdded:hover
{
  cursor: pointer;
    background-color: #d1d8da;

    
}

#videoPreview > button > span:hover
{
  cursor: pointer;
  color: black;
}

.documentAddedAdded
{
  cursor: pointer;
}




.tableDropdown33,.tableDropdown22,.tableDropdown3,.tableDropdown2
{
  float:right;
}





.vidFull
{
    position: fixed;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 100000000000;
    display: none;
}
.vidFullBack
{
    position: fixed;
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
    /* margin-top: 5%; */
    padding: 1em;
    z-index: 10000000000;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.closeFull
{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
.vidFullBack.active
{

    display: block;

}
.vidFull.active
{

    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.documentEL
{
  display: flex;
    margin-top: .5em;
    margin-right: .5em;
}
.xButton
{
   cursor: pointer;
  display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f18b8b;
    border: 1px solid #f57a7a;
  width: 50px;
  height: 50px;
  background-color: #f18b8b;
  border: 1px solid #f57a7a;
}
.xButton:hover
{
background-color: #f57a7a;
}

.xSymbol
{

  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(45deg);

  margin-left: 10px;
}
.xSymbol:before
{

  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(-90deg);
}


.videoThumb
{
  width: 90%;
  margin: 0 auto;
  /* height: 120px; */
  background-color: black;
  cursor: pointer;
}

.playVid 
{
    width: 100%;
    height: auto;
    max-height: 100%;
}   

.thumbVideoContainer
{position: relative;
  display: flex;
  flex-direction: column;

margin: .2em;
}
.thumbVideoTitle
{
  width: 90%;
  margin: 0 auto;
  margin-top: .8em;
  color: black;
  font-size: 1em;
  line-height: 1em;
  max-height: 2.1em;
  overflow: hidden;
}

.videoDiv > p,.documentDiv > p
{
  color:black;
}
.videoWrapper
{
      display: flex;
          flex-wrap: wrap;
}


.removeVid
{
      position: absolute;
    top: 5px;
    right: 5px;
    color: #bbbbbc;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    /* display: none; */
    z-index: 5;
}
.removeVid:hover
{
color: white;
}



.documentDiv > p{
    font-size: 1.4rem !important;
    }

    #documentPreview
    {
      display: flex;
    flex-wrap: wrap;
    }


table.lastest
{
    border: 1px solid #d5d6d8;
}

.mainTable h1
{
  margin: 0 auto;
  position: relative;
  
}
#showMoreRow a
{
  
  color:blue;
}

#showMoreRow 
{    text-align: right;
  color:blue;
}

#imgPreview2
{
  cursor:pointer;
}

@media (min-width: 1170px)
{
  .mainTable h1
  {

    width: 970px;
  }
}

#company-logo-prv
{
  border: 1px solid #e1dbdb;
  height: 100%;
}

#company-logo-cont
{
  display: flex;
  height: 60px;
}
#company-upload-cont
{
  height: 60px;
  width: 60px;
  background-color: rgb(54, 151, 216);

 
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

#company-upload-cont [type=file]
{
cursor: inherit;
display: block;
font-size: 10000px;
cursor: pointer;
position: absolute;
}


.tableDropdown2
{
  float: right;
  width: 100px;
    height: 30px;
  background-color: #6285b7;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
  float: right;
}
.tableDropdown3
{
  width: 100px;
    height: 30px;
  background-color: #8dbb8d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
  float: right;
}


#loading-div2
{
  background-image: url('../img/load.gif');
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.2);
  background-position: center center;
  background-size: 50px 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none;
}

#loading-div2.active
{
  display:block;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
      background-image: url('../img/load.gif');
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,1);
  background-position: center center;
  background-size: 50px 50px;
}

.fooTable,.add,.regConsult
{
  margin-top:50px;
}


/*.main-tbody-table > tr > td:last-child > ul > li:nth-child(2),*/.Receipt 
{
  display: none;
}
.vidFull,.vidFullBack
{
  display: fixed;
}
.module-name
{
  overflow-y: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  margin-bottom: 2em;
  background-color: #3e454c;
  color: white;
  vertical-align: center;
  line-height: 50px;
  padding-left: 1em;
  border-bottom: 1px solid white;

  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}




.tableDropdown22
{
  float: right;
  width: 100px;
    height: 30px;
  background-color: #f85d5d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
}
.tableDropdown33
{
  width: 100px;
    height: 30px;
  background-color: #8dbb8d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
}.module-name.right{
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transform:translateX(calc(100% - 60px));
}

.receiptContainer
{
  display: none;
}

.label-files
{
  display: flex !important;
  font-size: 1.8rem !important;
  margin-left: 15px;
  margin-top: 2em;

}

.label-files::after{
  content: "";
  border-top: 1px solid #dbd5d5;
  width: 100%;
  margin-top: 8px;
  margin-left: 10px;
}




#alertDiv.active,#statusDiv.active
{
  display: flex;
}

#alertDiv,#statusDiv
{

  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  bottom:0;
  z-index: 1000000;
}
.alertContainer
{

  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}
.alertText,.alertButtons
{
  display: flex;
}


.alertText
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.alertText1
{color:white;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}
.alertText2
{
  color:rgb(202, 202, 202);
  margin-top: 4em;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2em;
}
.alertButtons{
  
  height: 12%;
}
.cancelAlert
{
  color:rgb(231, 231, 229);
  text-align: center;
  width: 50%;
  height: 100%;
  font-weight: 400;
  font-size: .9em;
  background-color: rgb(196, 84, 84);
  cursor:pointer;
}
.confirmAlert
{
  color:rgb(231, 231, 229);
  text-align: center;
  width: 50%;
  height: 100%;
  font-weight: 400;
  font-size: .9em;
  background-color: #759fb9;
  cursor:pointer;
}
.confirmAlert:hover
{
  background-color: #5c96b8;
}

.cancelAlert:hover
{
  
  background-color: rgb(202, 65, 65);

}

.hideIt
{
  display: none;
}


























table.lastest2
{
    border: 1px solid #d5d6d8;
}

table.lastest2 thead th,table.lastest2 tbody td
{
   
  padding: 2rem;
  text-align: left
}

table.lastest2
{
  margin: 0 auto;
  table-layout: fixed;
  position: relative;
  background-color: white;

  border-collapse: collapse;
}
table.lastest2 thead th
{
  font-size: 1.6rem;
color: white;
width: 33%;
}

table.lastest2 tbody td
{
   
  color: #3e454c;
}

table.lastest2 thead tr
{
  font-weight: bold;
  color:white;
  background-color: #8abddc;
  position: relative;
}

table.lastest2 tbody tr:ahover
    {
      background-color: #e7ffeb;
    }

table.lastest2 tbody tr td.green
{
    background-color: #edf8fc;
}
body
{
  background-color: white;
}

table.lastest2 .collapseC
{
  display: none;
}

.formu textarea {
    line-height: 1.5em;
    border-color: #cccccc;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}


.addElementList
{

}
#serviceList,#technicalList,#productList,#diagnosticList
{
  border: none;
  border-bottom: 1px solid #d6e1e5;
}
#project-wrapper {
  border: 1px solid #d6e1e5;
}
.addedList {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start !important;
}

.table-panel legend
{
  display:none;
}













.save-div:hover .save
{
  display: flex;
  color:rgb(77, 154, 218) !important;
  cursor:pointer;
  
}

.save-div:hover .icon-save
{
  display: flex;
  color:rgb(77, 154, 218) !important;
  cursor:pointer;

}

.icon-save:hover
{
  color:rgb(77, 154, 218);
}

.icon-save
{
  
  position: absolute !important;
  margin-left: 22px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  /* right: 0.75em; */
  font-size: .9em !important;
}
.icon-save.active,.save.active
{
  
  
  color:white;

}


.save-div
{
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-top: 2px;
  background-color:#ffffff;
}

.print.active
{
  color:white;
}


.save:focus {
  outline: none;
  background-color: /* some darker colour than the original colour */;
}

.printOptions {
 
  right: 0px;
}


.printOptions.active {
  margin-top: 49px;
  z-index: 5000;
  display: inline-block;
  position: fixed;
  border-bottom: #e9e6e6;

}


.adhb,.printOptions > li {
  background-color: #444c54;
}

.printOptions > li > a
{
  background-color: #3a4148;
}

.hideColumn.not-active {
  background-color: #444c54;
}

.save-div.active {
  background-color: #444c54;
}

.save-div.hidden
{
  display: none;
}



body
{
  background-color: #edf1f5;
}

.add{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 15px;
}

.add legend{
  margin: 0em;
  font-weight: 400;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  float: center;
  text-align: left;
  padding-bottom: 0em;
  color: #a9a9a9;
  font-size: 2rem;
  margin-top: 0em;

  border-color: #eff2f7;
  font-size: 13px;
  font-weight: 400;
  background: #fafafa;
  text-transform: uppercase;
  padding: 15px;


}

input, button
{
  font-family: "Open Sans", sans-serif;
}

.save
{
  height: 1.5em;
  padding-left: 20px;
  margin-top: 1px;
  font-size: 0.9em;
  color: rgba(0,0,0,0.5);
  margin-left: 20px;
  font-weight: 400;
  display: flex;
  /* height: 40px; */
  /* padding: 10px; */
  /* padding-top: 12px; */
  /* background-color: #38a4ce; */
  cursor: pointer;
 
 
}
.form-panel
{
  background-color: white;
  margin-bottom: 20px;
}

.form-panel-body
{
  padding: 15px;
}
#content > div > div:nth-child(1),#content > div > div:nth-child(2)
{
  display: flex;
  align-items: center;
  height: 100%;
}
.breadcumb
{
  display: none;
}
.module-name{
  display:flex;
  justify-content: space-between;
  background-color: #70a3d5;
}
.print-p
{
  display: none;
}

.tablePanel legend
{
  display: none !important;
}

label
{
font-weight: 300;
font-size: 14px;
text-align: left;
display: flex !important; 
margin-bottom: 5px;
}

.medium,.complete,.half
{
  margin-bottom: 1em;
}

#actualPass
{
  border: 1px solid #d6e1e5;
  color: #364347;
  background-color: white;
  /* font-size: 2rem; */
  /* padding: 1rem; */
  /* margin-left: 5%; */
  margin-top: 5px;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}
.advanced
{
  display: none;
}

.tableWrapperBody
{
  width: 100%;
  overflow-x: scroll;
}


#imgPreview
{
  z-index: 1;
}
#imgPreview2
{
  width:100%;
}


.dinamycListAdded
{
  
    align-items: center;
    margin: .5rem;
    color: white;
    font-weight: 700;
    font-size: .7em;
    display: flex;
}

.dinamycListAddedDiv
{
  display: flex;
  /* border: 1px solid #e2e2e4; */
  background-color: #66a5cc;
  padding: .5rem;
  align-items: center;
  margin: .5rem;
  color: white;
}

 .deleteDinamicallyListEl
  {

    cursor: pointer;
  }
  .deleteDinamicallyListEl::before{
    color: #ffffff;
    content: "\f00d";
    font-family: "FontAwesome";
  }