

    * {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 8pt;
      color:black;
       
    }


#content,#page {
width: 100%; 
margin: 0; 
float: none;
}
 
/** Setting margins */       
@page { margin: 1cm }
 
/* Or: */
@page :left {
margin: 1cm;
}
 
@page :right {
margin: 1cm;
}
 
/* The first page of a print can be manipulated as well */
@page:first {
    margin-top: 0px;
    margin-bottom: 0px;
}



a {
    page-break-inside:avoid
}
blockquote {
    page-break-inside: avoid;
}
h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
     page-break-inside:avoid }
img { page-break-inside:avoid; 
     page-break-after:avoid; }
table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }




.entry iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
}
.embed-youtube, .embed-responsive {
  position: absolute;
  height: 0;
  overflow: hidden;
}



#userImg,.add,#userPanel,.module-name,#logoImg,#logo-figure, header,.left-nav,.message-box,#scriptBox,#userPanel,
.top-nav,.no-print,.dataTables_length,#req-content-table_filter,.dataTables_paginate,.paging_simple_numbers,.dataTables_filter,.dataTables_info,#header-widgets, nav, aside.mashsb-container, 
.sidebar, .mashshare-top, .mashshare-bottom, 
.content-ads, .make-comment, .author-bio, 
.heading, .related-posts, #decomments-form-add-comment, 
#breadcrumbs, #footer, .post-byline, .meta-single, 
.site-title img, .post-tags, .readability,.imgFullBack,.imgFull,.vidFullBack,.vidFull
{
display: none;
}








#header
{
  color: red;
}
















/*RECIBOS*/


.f-right
{
  float: right;
}

.receiptContainer
{
  padding: 2em;
  display: flex;
  flex-direction: column;
 
}
.receiptHeader
{
  display: flex;
  width: 100%;
   justify-content: space-between;
     flex-direction: row;
}

#busInfo
{
  border-left: 1px solid black;
  justify-content: center;
  display: flex;
  flex-direction:column;
  padding-left: 1em;
}

#busInfo > p
{
  font-size: .9em;
  color: black;
  margin-bottom: .3em;
}

.receiptInputs
{
      color: black;
    font-size: 1.2em;
}
#receiptDate
{
  display: flex;
  justify-content: flex-end;
  padding-top:2em;
  padding-bottom: 2em;
      align-items: center;
}

#receiptDate > p
{
  color: black;
    font-size: 1.2em;
}
#receiptTitle
{
  display: flex;
  justify-content: center;
  align-items: center;
}
#receiptTitle > p
{
  color: black;
    font-size: 1.4em;
}

#receiptServiceCont,#receiptPaymentCont
{
  display: flex;
  justify-content: left;
  align-items: center;
}
#receiptServiceCont > p,#receiptPaymentCont > p
{
  color: black;
    font-size: 1.2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

#receiptServiceInput,#receiptPaymentInput
{
  border-bottom: 1px solid black;
  align-items: center;
}
#receiptDetails > p
{
  padding: .2em;
    color: black;
    font-size: 1.2em;
    line-height: 1em;
}
#receiptDetails
{
flex-wrap: wrap;
    display: flex;}

    .borderBo
    {
      border-bottom: 1px solid black;
    }


    #receiptObsCont > p:nth-child(1)
    {
      color: black;
    font-size: 1.2em;
    line-height: 1em;
    }
 #receiptObsCont
 {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #receiptObsInput
  {
    word-wrap: break-word;
    width: 100%;
    line-height: 1.2em;
  }

  #receiptBody
  {
    display: flex;
    padding: 2em;
    flex-direction: column;
  }

 input[type="text"]
 {
  border: none;
 }

 .printNow2,#alertDiv,#statusDiv
 {
  display: none;
 }












 /* reporte ot */

 #imgPreview2 {
  width: 100%;
  margin: 0 auto;
}

 .regPrev
{

 
   
   
    
    
    display: flex;
    justify-content: flex-start;
}
.regOverview-table
{
  
  margin: 0 auto;
  margin-right:2em;
}
.regOverview-table thead
{
 
}

.regOverview-table thead
{
 



}

.regOverview-table thead tr th
{

font-weight: 700;
font-size: 1.2em;
padding: 1em;
}

.regOverview-table tbody > tr
{
  border-bottom: 1px solid rgba(111,126,149,0.1);
  margin-left: 1em; 
}
.regOverview-table tbody > tr > td:nth-child(1)
{
  font-weight: 400;
  font-size: 1em;
  padding: 1.5em;
  width: 30%;
}
.regOverview-table tbody > tr > td
{    word-wrap: break-word;
    width: 70px;
    word-break: break-word;
padding: 1.5em;}

.regOverview-table > tbody > tr > td:nth-child(1)
{
  color: #3e454c;
  font-weight: 700;
}
.regOverview-table > tbody > tr > td:nth-child(2)
{
  color: #3e454c;
  font-weight: 400;
}
.regOverview-table > tbody 
{
  
}
.regOverview-table > tbody 
{
  
border: 1px solid rgba(111,126,149,0.1);

}


.regPrev > table:nth-child(1) > thead:nth-child(1)
 { }
.regOverview-table > thead:nth-child(1) > tr > th:nth-child(2)
{
  text-align: right;
}

.regOverview-table > tbody > tr > td > p
{

  color: #3e454c;
  font-weight: 400;
  line-height: 1.4em;
  padding-right: 1em;
  padding-left: 1em;
  margin: .5em;
  font-size: 0.7em !important;
}

.regOverview-table:nth-child(1) > tbody > tr > td,.regOverview-table:nth-child(2) > tbody > tr > td
{

    flex-wrap: wrap;
    justify-content: space-between;

}


.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th > p:nth-child(1)
{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2em;
}


.regOverview-table:nth-child(3) > tbody > tr > td > a
{
  color: #3e454c;
    font-weight: 400;
    line-height: 1.4em;
    padding-right: 1em;
}
.otImages
{
border:1px solid rgba(111,126,149,0.1);}

.otImages > img
{
  display: none;
  
}

.otVideos
{
  border:1px solid rgba(111,126,149,0.1);
 
}

.regConsult.hidden
{
  display:none;
}

.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th
{

}


.req_status
{
 
word-wrap: normal;
    font-size: 1.2rem;
    color: #3e454c;
}

.req_status > option
{
  word-wrap: normal;
    font-size: 1.2rem;
    color: #3e454c;
   
}

.regOverview-table > tbody > tr > td:nth-child(2) > p
{

}
#ot-main-thead > tr > th:nth-child(2) > p
{
  text-align: right;
}

.regOverview-table > tbody > tr > td > a
{
  
}

.regOverview-table > tbody > tr:nth-child(11),.otImages,.otVideos
{
  display: none;
}
.regPrev > table:nth-child(1) > thead:nth-child(1) > tr > th {
  text-align: left;
}


.tableDropdown2
{
  width: 100px;
  height: 30px;
background-color:white;
color: black;
display: flex;
/* justify-content: center; */
text-align: center;
align-items: center;
font-size: .9em;

justify-content: center;
}
.tableDropdown3
{
  width: 100px;
    height: 30px;
  background-color:white;
  color: black;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
}

}
#imgPreview2
{
  width: 45%;
  cursor:pointer;
  margin: 0 auto;
}


.tableDropdown22
{
  width: 100px;
    height: 30px;
  background-color: #f85d5d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
  cursor: pointer;
}

.tableDropdown33
{
  width: 100px;
    height: 30px;
  background-color: #8dbb8d;
  color: white;
  display: flex;
  /* justify-content: center; */
 text-align: center;
  align-items: center;
  font-size: .9em;

  justify-content: center;
  
}
prango
{
  display:none;
}

table.dataTable thead .sorting_asc {
  background-image: url(../imag) !important;
}
table.dataTable thead .sorting {
  background-image: url(../images/sort_boasdth.png) !important;
}
table.dataTable thead .sorting_desc {
  background-image: url(../images/sort_deasdsc.png) !important;
}
legend
{
  display: none;
}

